<!-- Breadcrumbs -->
<div class="">
    <div class="container">
        <div class="breadcrumb_dm">
            <ul class="breadcrumb__list">
              <li><a href="/"><i aria-hidden="true" class="fa fa-home"></i></a> <i aria-hidden="true"
                  class="fa fa-angle-right"></i></li>
              <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Trang chủ</a> <i aria-hidden="true" class="fa fa-angle-right"></i></li>
              <li><a >404</a> </li>
            </ul>
          </div>
    </div>
</div>
<!-- Breadcrumbs End -->

<!--Container -->
<div class="error-page">
    <div class="container">
        <div class="error_pagenotfound"> <strong>4<span id="animate-arrow">0</span>4 </strong> <br />
            <b>Yêu cầu của bạn không tìm thấy!</b> <em>Xin lỗi vì sự bất tiện này.</em>
            <p>Thử tìm kiếm trang hoặc sản phẩm khác nhé!</p>
            <br />
            <a  [routerLink]="['/']"  class="button-back"><i class="icon-arrow-left-circle icons"></i>&nbsp; Trang chủ</a>
        </div>
        <!-- end error page notfound -->
    </div>
</div>
<!-- Container End -->