<div class="jtv-service-area" style="margin-top: 25px;">
  <div class="container">
    <div class="row">
      <div class="col col-md-3 col-sm-6 col-xs-12">
        <div class="block-wrapper ship">
          <div class="text-des">
            <div class="icon-wrapper"><i class="fa fa-paper-plane"></i></div>
            <div class="service-wrapper">
              <h3>Giao hàng toàn quốc</h3>
              <p>Nhanh chóng tiện lợi</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-3 col-sm-6 col-xs-12 ">
        <div class="block-wrapper return">
          <div class="text-des">
            <div class="icon-wrapper"><i class="fa fa-rotate-right"></i></div>
            <div class="service-wrapper">
              <h3>30 Days Return</h3>
              <p>Moneyback guarantee </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-3 col-sm-6 col-xs-12">
        <div class="block-wrapper support">
          <div class="text-des">
            <div class="icon-wrapper"><i class="fa fa-umbrella"></i></div>
            <div class="service-wrapper">
              <h3>Support 24/7</h3>
              <p>Gọi ngay:  0978.691.194</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-3 col-sm-6 col-xs-12">
        <div class="block-wrapper user">
          <div class="text-des">
            <div class="icon-wrapper"><i class="fa fa-tags"></i></div>
            <div class="service-wrapper">
              <h3>Giảm giá</h3>
              <p>Với nhiều ưu đãi hấp dẫn</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-xs-12">
          <div class="fb-page" data-href="https://www.facebook.com/dangminhpc70" data-tabs="timeline" data-width="350"
            data-height="130" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
            data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/dangminhpc70" class="fb-xfbml-parse-ignore"><a
                href="https://www.facebook.com/dangminhpc70">Đăng Minh Computer</a></blockquote>
          </div>
          <!-- <div class="footer-logo logoImg"><a href="index.html"><img [src]="urlLogo" alt="fotter logo"></a> </div> -->
          <!-- <google-map height="220px" width="400px" [center]="center" [zoom]="zoom">
            <map-marker #marker="mapMarker"
            *ngFor="let markerPosition of markerPositions"
            [position]="markerPosition"
            (mapClick)="openInfoWindow(marker)"></map-marker>
<map-info-window>DM Computer</map-info-window>
           
          </google-map> -->
          
          <p>
          </p>
          <div class="footer-links">        
            <ul class="list-links list-unstyled">
              <li>Phone 1: 0978 691 194</li>
              <li>Phone 2: 0908 708 294</li>
              <li>STK sử dụng giao dịch: </li>
              <li>  12456789 – Vietcombank – TEST</li>
              <li>  123456789 – Techcombank – TEST</li>

 
              <!-- <li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href="https://www.facebook.com/dangminhpc70"><i class="fa fa-facebook"></i></a></li> -->
              <!-- <li class="social-network googleplus"><a title="Connect us on Google+" target="_blank" href="https://plus.google.com"><i class="fa fa-google"></i></a></li>
              <li class="social-network tw"><a title="Connect us on Twitter" target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
              <li class="social-network linkedin"><a title="Connect us on Pinterest" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li> -->
              <!-- <li class="social-network rss"><a title="Connect us on Shopee" target="_blank" href="https://shopee.vn/shop/1023848407/"><img src="../assets/images/shopee-xanh.png" alt=""></a></li> -->
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-2 col-xs-12 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Danh mục sản phẩm<a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
            <div class="tabBlock" id="TabBlock-1">
              <ul class="list-links list-unstyled">
                <div *ngFor="let item of this.categories; let i = index">
                  <li *ngIf="i <= 8"><a [routerLink]="['/danh-muc-san-pham-g']" [queryParams]="{slug: item?.urlSlug}">{{item.categoryName}}</a></li>
                </div>
              </ul>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm-3 col-md-2 col-xs-12 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">  &nbsp; <a class="expander visible-xs" href="#TabBlock-3">+</a></h3>
            <div class="tabBlock" id="TabBlock-3">
              <ul class="list-links list-unstyled">
                <div *ngFor="let item of this.categories; let i = index">
                  <li *ngIf="i > 4 && i<=10"><a [routerLink]="['/danh-muc-san-pham-g']" [queryParams]="{slug: item?.urlSlug}">{{item.categoryName}}</a></li>
                </div>
              </ul>
            </div>
          </div>
        </div> -->
        <div class="col-sm-3 col-md-2 col-xs-12 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Thông tin<a class="expander visible-xs" href="#TabBlock-4">+</a></h3>
            <div class="tabBlock" id="TabBlock-4">
              <ul class="list-links list-unstyled">
                <li><a  [routerLink]="['/danh-muc-san-pham-g']" [queryParams]="{typeStatus: 2}">Sản phẩm bán chạy</a></li>
                <li><a  [routerLink]="['/danh-muc-san-pham-g']" [queryParams]="{typeStatus: 1}">Sản phẩm giảm giá</a></li>
                <li><a href="#">Hàng cũ - giá tốt</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Working hours<a class="expander visible-xs" href="#TabBlock-5">+</a></h3>
            <div class="tabBlock" id="TabBlock-5">
              <div class="footer-description">ĐĂNG MINH COMPUTER.</div>
              <div class="footer-description">
                <p>Chuyên kinh doanh các loại PC - LPTOP - LCD - GAMING- CAMERA - MÁY TÍNH VĂN PHÒNG</p>
                <b>Địa chỉ:</b>  29/16 Đường CMT8 - Phường 3 - TP. Tây Ninh.<br>
              </div>
              <div class="payment">
                <ul>
                  <li><a href="#"><img title="tien-mat" alt="tien-matt" src="./../../assets/images/tien-mat.jpg"></a></li>
                  <li><a href="#"><img title="banking" alt="banking" src="./../../assets/images/internet-bank.jpg"></a></li>
                  <li><a href="#"><img title="Master Card" alt="Master Card" src="./../../assets/images/mastercard.jpg"></a></li>
                  
                  <li><a href="#"><img title="Master Card" alt="Visa" src="./../../assets/images/visa.jpg"></a></li>
                  <li><a href="#"><img title="bo cong thuong" alt="Bộ Công Thương" src="./../../assets/images/bo-cong-thuong.jpg"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-coppyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2023 <a href="#"> ĐMC Store </a>. All Rights Reserved. </div>
          <div class="col-sm-6 col-xs-12">
            <ul class="footer-company-links">
              <li> <a [routerLink]="['/gioi-thieu']">About ĐMC</a> </li>
              <li> <a href="#">Careers</a> </li>
              <li> <a href="#">Privacy Policy</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
<a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a> 
  
  <!-- End Footer --> 