<!-- Breadcrumbs -->
  
<!-- <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="index.html">Home</a><span>&raquo;</span></li>
            <li><strong>Thanh toán</strong></li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Breadcrumbs End --> 
  
  <!-- Main Container -->
  <section class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <div class="col-main col-sm-8 col-xs-12">
          <div class="cart-products inline">
            <div class="cart-process">
              <div class="process active"><span>1. Chọn sản phẩm</span></div>
              <div class="process active"><span>2. Xác nhận đơn hàng</span></div>
              <div class="process active"><span>3. Thanh toán</span></div>
            </div>
            <div *ngIf="getItemCart().length == 0">Bạn đang không có sản phẩm nào trong giỏ hàng.</div>
            <form id="formdathang" method="post" action="" class="form-checkout" *ngIf="getItemCart().length > 0">
              <div class="group-info"  [formGroup]="infoCustomer">
                <div class="title2">Thông tin khách hàng</div>
          
                <div style="margin-bottom: 16px;"><span style="color: red;">*</span> Trường bắt buộc</div>
                <div class="input-group"><label for="">Họ tên quý khách <span style="color: red;">*</span></label> <input type="text"
                    placeholder="Nhập tên khách hàng" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                </div>
                
                <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                  <div class="text-danger" *ngIf="f['name'].errors['required']">Họ tên khách hàng không được để trống</div>
                  <div class="text-danger" *ngIf="f['name'].errors['minlength']">Họ tên khách hàng không được để trống</div>
                  <div class="text-danger" *ngIf="f['name'].errors['maxlength']">Họ tên khách hàng vượt quá ký tự cho phép</div>
                </div>


                <div class="input-group"><label for="">Địa chỉ email <span style="color: red;">*</span></label> <input
                    type="email" placeholder="Nhập email" name="email" formControlName="email"  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                  </div>
                  <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div class="text-danger" *ngIf="f['email'].errors['required']">Email không hợp lệ</div>
                    <div class="text-danger" *ngIf="f['email'].errors['email']">Email không hợp lệ</div>
                  </div>


                <div class="input-group"><label for="">Số điện thoại <span style="color: red;">*</span></label> <input type="tel"
                    placeholder="Nhập số điện thoại" name="telephone" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }">
                  </div>
                  <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                    <div class="text-danger" *ngIf="f['phone'].errors['required']">Số điện thoại không được để trống</div>
                  </div>

                <div class="input-group"><label for="">Địa chỉ thường trú <span style="color: red;">*</span></label> <input
                    type="text" name="address" placeholder="Nhập địa chỉ"  formControlName="address" [ngClass]="{ 'is-invalid': submitted && f['address'].errors }">
                  </div>
                <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                  <div class="text-danger" *ngIf="f['address'].errors['required']">Địa chỉ khách hàng không được để trống</div>
                  <div class="text-danger" *ngIf="f['address'].errors['maxlength']">Họ tên khách hàng vượt quá ký tự cho phép</div>
                </div>

              </div>
              <div class="group-info"  [formGroup]="infoShippingCustomer">
                <div id="info-shipping-address">
                  <div class="title2">Thông tin giao hàng</div>
                  <div class="input-group checkbox"><input type="checkbox" name="other-address" (change)="useInforCustomerToShipping($event)"> <label for="">Sử dụng thông tin
                      khách hàng để giao hàng</label></div>
                  <div style="margin-bottom: 16px; padding-top: 15px;"><span style="color: red;">*</span> Trường bắt buộc</div>
                  <div id="info-shipping-address-child">
                    <div class="input-group"><label for="">Họ &amp; tên người nhận <span style="color: red;">*</span></label>
                      <input type="text" placeholder="Nhập tên khách hàng" name="shipping-username"  formControlName="name"
                      [ngClass]="{ 'is-invalid': submitted && fship['name'].errors }">
                    </div>
                    <div *ngIf="submitted && fship['name'].errors" class="invalid-feedback">
                      <div class="text-danger" *ngIf="fship['name'].errors['required']">Họ tên khách hàng không được để trống</div>
                      <div class="text-danger" *ngIf="fship['name'].errors['minlength']">Họ tên khách hàng không được để trống</div>
                      <div class="text-danger" *ngIf="fship['name'].errors['maxlength']">Họ tên khách hàng vượt quá ký tự cho phép</div>
                    </div>

                    <div class="input-group"><label for="">Số điện thoại <span style="color: red;">*</span></label> <input
                        type="text" placeholder="Nhập số điện thoại" name="shipping-telephone" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && fship['phone'].errors }">
                      </div>
                      <div *ngIf="submitted && fship['phone'].errors" class="invalid-feedback">
                        <div class="text-danger" *ngIf="fship['phone'].errors['required']">Số điện thoại không được để trống</div>
                      </div>
                    <div class="input-group"><label for="">Địa chỉ giao hàng <span style="color: red;">*</span></label> <input
                        type="text" placeholder="Nhập địa chỉ giao hàng" name="shipping-address" rows="2" formControlName="address" [ngClass]="{ 'is-invalid': submitted && fship['address'].errors }">
                      </div>
                      <div *ngIf="submitted && fship['address'].errors" class="invalid-feedback">
                        <div class="text-danger" *ngIf="fship['address'].errors['required']">Địa chỉ khách hàng không được để trống</div>
                        <div class="text-danger" *ngIf="fship['address'].errors['maxlength']">Họ tên khách hàng vượt quá ký tự cho phép</div>
                      </div>
                  </div>
                </div>
                <div class="input-group"><label for="">Ghi chú</label> <textarea placeholder="Nhập ghi chú" name="shipping-note"
                    rows="3" formControlName="note" [ngClass]="{ 'is-invalid': submitted && fship['note'].errors }"></textarea>
                  </div>
                    <div *ngIf="submitted && fship['note'].errors" class="invalid-feedback">
                      <div class="text-danger" *ngIf="fship['note'].errors['maxlength']">Ghi chú vượt quá ký tự cho phép</div>
                    </div>
              </div> 
              <div class="group-info pay-method">
                <div class="title2">Hình thức thanh toán</div>
                <div class="input-group"><input type="radio" value="1" name="pay-method"
                    checked="checked" class="input-radio"> <label for="">Thanh toán tại nơi giao hàng</label></div>
                <div class="input-group"><input type="radio" value="2" name="pay-method"
                    class="input-radio"> <label for="">Thanh toán bằng chuyển khoản</label></div>
                <div class="bank-option">
                  <div *ngFor="let item of listBanks">
                    <p><strong>{{item.bankName}}</strong></p>
                    <p>Số tài khoản : {{item.bankAccount}}</p>
                    <p>Tên TK: {{item.bankAccountName}}.</p>
                  </div>
                  
                </div>
              </div>
            </form>
          </div>
          </div>
        <aside class="right sidebar col-sm-4 col-xs-12">
          <div class="cart-total-prices">
            <div class="cart-prices">
              <div class="title2">THÔNG TIN GIỎ HÀNG</div>
              <div>Số lượng sản phẩm <span class="p-count">2</span></div>
              <div>Tổng chi phí <span class="price">10.980.000 đ</span></div>
              <div style="font-size: 14px; color: rgb(78, 78, 84); font-weight: normal; justify-content: flex-end;">Đã bao gồm
                VAT (nếu có)</div>
              <div class="cart-item">
                <div class="product-name">CPU Intel Core i7 - 11700 8C/16T ( 2.5GHz up to 4.9GHz, 16MB ) Hàng Tray</div>
                <div class="product-content">
                  <div class="collapse">
                    <div class="collapse-header"(click)="showDetailProduct($event, '')" ><i id="testCall" class="fa fa-angle-right"></i> Chi tiết sản phẩm <!----></div>
                    <div id="testCallItem" class="collapse-body" style="display: none;">
                      <div class="short-desc">
                        <p>- Socket: LGA 1200</p>
                        <p>- Số nhân: 8</p>
                        <p>- Số luồng: 16</p>
                        <p>- Xung nhịp: 2.5 - 4.9 Ghz</p>
                        <p>- Cache: 16MB</p>
                      </div>
                    </div>
                  </div> <!---->
                  <div class="cart-item-price">10.980.000 đ</div>
                </div>
              </div> <a class="go-checkout" (click)="onSubmit()"><!----> XÁC NHẬN MUA HÀNG</a>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
  <!-- Main Container End --> 