.block-filter {
    background: #f0f3fc;
    margin-bottom: 10px;
}

.block-filter .filter-header {
    font-weight: 400;
    font-size: 13px;
    color: #413939;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 14px;

    padding: 14px 15px;
    background-color: #f0f3fc;
    /* text-transform: uppercase; */
    letter-spacing: 0.5px;
}

.block-filter .filter-header a {
    font-size: 18px;
    font-weight: bold;
    color: blue;
}

.block-filter .filter-header i {
    color: blue;
}

.block-filter .filter-body {
    padding: 0 16px;
    max-height: 450px;
    overflow: auto;
}

.filter-body-inner {
    padding: 16px 0;
    border-top: 1px solid #dddfe6;
}

.filter-body-inner .filter-item {
    margin-bottom: 8px;
}

.block-filter .active {
    display: inherit;
}

.block-filter .noactive {
    display: none;
}

.checkmark {
    height: 24px;
    width: 24px;
    background-color: #fff;
    border: 1px solid #b3b8c2;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    display: table-cell;
    margin-top: 4px !important;
    margin-bottom: 3px !important;

}

.block-content {
    font-size: 14px !important;
    color: red;
}

.filter-item li>label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #1a2948;
    cursor: pointer;
    flex-direction: row;
}

.sp {
    color: #203140;
    font-size: 12px;
    line-height: 21px;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 100%;
    margin-left: 8px;
}

.inputPrice {
    display: inline-flex;
    justify-content: space-between;
}

.inputPrice input {
    width: calc(50% - 6.5px);
    border: none;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
}

.special-price .price {
    font-size: 14px !important;
}

.old-price .price {
    font-size: 14px !important;
}

.rate_item .fa-star {
    color: #fc0;
}

.add-cart-buttons .btn-add-cart {
    width: 17%;
    height: 26px;
    background: #197bb7;
    border: none;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    float: right;
}

@media screen and (max-width: 1024px) {
    .add-cart-buttons .btn-add-cart {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .div-to-hide-mobile {
        display: none;
    }
}

.products-list .product-img img {
    width: 50%;
}

.products-list .product-img {
    overflow: hidden;
    position: relative;
    padding-left: 0px;
    width: 25%;
    float: left;
    border: 1px solid #dddfe6;
    text-align: center;
}

.item .product-shop .product-name a {
    font-size: 16px;
    margin: 0 0 -5px;
    text-align: left;
    line-height: normal;
    /* padding-bottom: 8px; */
    letter-spacing: 1px;
    font-weight: 700;
    /* border-bottom: 1px solid #e5e5e5; */
    display: flex;
    color: #005ec4;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.products-list .product-shop .price-box {
    margin: 5px 0 5px;
    border-top: 1px solid #e5e5e5;
    padding-top: 5px;
}

.product .percent,
.product-img .percent {
    position: absolute;
    left: 0;
    top: 0;
    background: #f9495f;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    width: 45px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(-12deg);
    margin-left: -5px;
    z-index: 999;
}

.top-actions-dialog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px 10px;
    background: #197bb7;
    background: linear-gradient(to top, #197bb7 0%, #197bb7 100%);
    background: -moz-linear-gradient(to top, #197bb7 0%, #197bb7 100%);
    background: -o-linear-gradient(to top, #197bb7 0%, #197bb7 100%);
    background: -ms-linear-gradient(to top, #197bb7 0%, #197bb7 100%);
    background: -webkit-linear-gradient(bottom, #197bb7 0%, #197bb7 100%);
    height: 50px;
}

.header-title{
    color: white;
}

.product-code{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.products-list .item {
    padding: 0;
    overflow: hidden;
    margin: 0px 0 10px !important;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    list-style: none;
}