<div class="" >
  <!-- <div class="col-sm-4 col-xs-4">
    <h4 class="header-title">{{data.title}}</h4>
  </div>
  <div class="col-sm-7 col-xs-7">
    <form action="/search">
      <input height="auto" width="auto" autocomplete="off" type="text" name="q" placeholder="Tìm kiếm sản phẩm">
    </form>
  </div>
  <div class="col-sm-1 col-xs-1">
    <a (click)="closepopup()" mat-raised-button color="warn"><i class="fa fa-window-close"></i></a>
  </div>
  -->

  <div class="coll-build__search">
    <h4 class="header-title">{{data.title}}</h4>
		<div class="pc-search__form">
			<form action="/search">
				<input type="hidden" name="type" value="product">
				<input required="" autocomplete="off" type="text" name="q" placeholder="Tìm kiếm sản phẩm">
			</form>
		</div>
    <a (click)="closepopup()" ><i class="fa fa-window-close"></i></a>
	</div>
 
</div>
<div mat-dialog-content>
  <div class="main-container col2-left-layout">
    <div class="">
      <div class="row">
        <div class="col-main col-xs-12">
          <div class="category-description std">
          </div>

          <div class="shop-inner">
            
            <div class="product-list-area">
              <ul class="products-list" id="products-list">
                <ng-container *ngIf="isLoading && (visibleItems.items.length == 0)">
                  <p>Không có sản phẩm nào phù hợp.</p>
                </ng-container>

                <li class="item" *ngFor="let item of visibleItems.items">
                  <div class="product-img">
                    <div class="percent" *ngIf="item.rateDiscount > 0"><span>-{{item.rateDiscount}}%</span></div>
                    <a [title]="item.productName">
                      <img class="small-image" src="{{urlImg + item.imageUrl}}" alt="{{item.productName}}">

                    </a>
                  </div>
                  <div class="product-shop">
                   
                    <div class="price-box">
                     <h1 class="product-name"><a [title]="item.productName">{{item.productName}}</a></h1>
                   
                      <p class="special-price"> <span class="price-label"></span> <span class="price"> Giá:
                          {{item.promotionPrice | currency: "VND"}}</span> </p>
                      <p class="old-price" *ngIf="item.promotionPrice !== 0"> <span class="price-label"></span> <span
                          class="price">{{item.price | currency: "VND" }} </span> </p>
                    </div>
                    <div>

                      <a class="product-code" [title]="item.productCode">Mã sản phẩm: {{item.productCode}}</a>
                    </div>
                    <div class="actions">

                      <div class="add-cart-buttons"><button type="button" class="btn-add-cart btn-add-cart" (click)="addToBuildPC(item)">
                          <svg width="13" style="vertical-align: sub;" height="16" viewBox="0 0 17 18" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                              d="M15.9187 9.83092L15.9187 8.16922L9.33085 8.16922L9.33085 1.58134H7.66915L7.66915 8.16922L1.08127 8.16922L1.08127 9.83092L7.66915 9.83092L7.66915 16.4188H9.33085L9.33085 9.83092L15.9187 9.83092Z"
                              fill="white"></path>
                          </svg>
                          Chọn
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div mat-dialog-actions>
 
</div> -->
<div class="pagination-area">
  <my-pagination *ngIf="isLoading" [total]="visibleItems.total" [formControl]="paginationControl">
  </my-pagination>
</div>
<ngx-spinner [fullScreen]="true" type="ball-scale-multiple" bdColor="rgba(220, 237, 255, 0.8)"
  color="#0b499c"></ngx-spinner>