<nav>
  <div class="container">
    <div class="row">
      <div class="mm-toggle-wrap">
        <div (click)="handleClickMenuMobile()" class="mm-toggle"><i class="fa fa-align-justify"></i>
        </div>
        <span class="mm-label">DANH MỤC SẢN PHẨM</span>
      </div>
      <div (click)="toggleHandle($event)" (mouseenter)="isShowMenu = true" (mouseleave)="isShowMenu = false" class="col-md-3 col-sm-3 mega-container hidden-xs">
        <div class="navleft-container">
          <div class="mega-menu-title">
            <h3><span>DANH MỤC SẢN PHẨM</span></h3>
          </div>
          <!-- Shop by category -->
          <div class="mega-menu-category" [style.display]="isShowMenu ? 'block' : 'none'" id="mega-menu-category" *ngFor="let item of allMenu">
            <ul class="nav">
              <li (mouseleave)="item.active = false" [ngClass]="{'active': item.active}" (mouseenter)="item.active = true"><a (click)="handleMenu($event,item)" [routerLink]="['/danh-muc-san-pham-g']">{{item.categoryName}}</a>
                <div class="wrap-popup">
                <div [@fadeInOut]="item.active ? 'in' : 'out'" [ngStyle]="{'display': item.active && item.submenu ? 'block' : 'none'}" class="popup">
                  <div class="row" *ngFor="let item of item.submenu" >
                  <div class="col-md-4 col-sm-6">
                    <ul class="nav">
                    <li><a [routerLink]="['/danh-muc-san-pham-g']" (click)="handleMenu($event,item)"><span>{{item.categoryName}}</span></a></li>
                    </ul>
                  </div>
                  <!-- <div class="col-md-4 col-sm-6 has-sep">
                    <ul class="nav">
                    <li><a href="about_us.html"><span>About Us</span></a></li>
                    <li><a href="contact_us.html"><span>Contact Us</span></a></li>
                    <li><a href="orders_list.html"><span>Orders List</span></a></li>
                    <li><a href="order_details.html"><span>Order Details</span></a></li>
                    <li><a href="404error.html"><span>404 Error</span> </a></li>
                    <li><a href="faq.html"><span>FAQ Page</span></a></li>
                    <li><a href="manufacturers.html"><span>Manufacturers</span></a></li>
                    <li><a href="quick_view.html"><span>Quick View</span></a></li>
                    <li><a href="dashboard.html"><span>Account Dashboard</span></a></li>
                    <li><a href="shortcodes.html"><span>Shortcodes</span> </a></li>
                    <li><a href="typography.html"><span>Typography</span></a></li>
                    </ul>
                  </div>
                  <div class="col-md-4 has-sep hidden-sm">
                    <div class="custom-menu-right">
                    <div class="box-banner menu-banner">
                      <div class="add-right"><a href="#"><img src="./../assets/images/menu-banner-img1.jpg" alt="responsive"></a></div>
                    </div>
                    </div>
                  </div> -->
                  </div>
                </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 jtv-megamenu">
        <div class="mtmegamenu">
          <ul class="hidden-xs">
            <li class="mt-root demo_custom_link_cms">
              <div class="mt-root-item"><a [routerLink]="['/']">
                  <div class="title title_font"><span class="title-text">Home</span></div>
                </a></div>
            </li>
            <li class="mt-root">
              <div class="mt-root-item"><a href="#">
                  <div class="title title_font"><span class="title-text">Categories</span></div>
                </a></div>
              <ul class="menu-items col-xs-12">
                <li class="menu-item depth-1 menucol-1-3 ">
                  <div class="title title_font"> <a href="#">Fashion</a></div>
                  <ul class="submenu">
                    <li class="menu-item">
                      <div class="title"> <a [routerLink]="['/danh-muc-san-pham-g']">Women</a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a [routerLink]="['/danh-muc-san-pham-g']">Men</a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a [routerLink]="['/danh-muc-san-pham-g']">Kids</a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a [routerLink]="['/danh-muc-san-pham-g']">Clothings</a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a [routerLink]="['/danh-muc-san-pham-g']">Shoes</a></div>
                    </li>
                  </ul>
                </li>
                <li class="menu-item depth-1 menucol-1-3 ">
                  <div class="title title_font"> <a href="#">Electronics </a></div>
                  <ul class="submenu">
                    <li class="menu-item">
                      <div class="title"> <a [routerLink]="['/danh-muc-san-pham-g']">Mobiles</a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a [routerLink]="['/danh-muc-san-pham-g']">Computers</a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a [routerLink]="['/danh-muc-san-pham-g']">Headphones</a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a [routerLink]="['/danh-muc-san-pham-g']">Laptops</a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a [routerLink]="['/danh-muc-san-pham-g']">Appliances</a></div>
                    </li>
                  </ul>
                </li>
                <li class="menu-item depth-1 menucol-1-3 ">
                  <div class="title title_font"> <a href="#">Beauty & Health</a></div>
                  <ul class="submenu">
                    <li class="menu-item depth-2 category ">
                      <div class="title"> <a [routerLink]="['/danh-muc-san-pham-g']">Face Care</a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a [routerLink]="['/danh-muc-san-pham-g']">Skin Care</a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a [routerLink]="['/danh-muc-san-pham-g']">Minerals</a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a [routerLink]="['/danh-muc-san-pham-g']">Body Care</a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a [routerLink]="['/danh-muc-san-pham-g']">Cosmetic</a></div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="mt-root">
              <div class="mt-root-item"><a [routerLink]="['/gioi-thieu']">
                  <div class="title title_font"><span class="title-text">New Arrivals</span> </div>
                </a></div>
            </li>
            <li class="mt-root">
              <div class="mt-root-item"><a [routerLink]="['/gioi-thieu']">
                  <div class="title title_font"><span class="title-text">Giới thiệu</span></div>
                </a></div>
            </li>
            <li class="mt-root demo_custom_link_cms">
              <div class="mt-root-item"><a [routerLink]="['/tin-tuc']">
                  <div class="title title_font"><span class="title-text">Tin tức</span></div>
                </a></div>
              <ul class="menu-items col-md-3 col-sm-4 col-xs-12" style="top: 28px; left: 402.531px;">
                <li class="menu-item depth-1">
                  <div class="title"> <a href="blog_right_sidebar.html"> Blog - Right Sidebar </a></div>
                </li>
                <li class="menu-item depth-1">
                  <div class="title"> <a href="blog_left_sidebar.html"> Blog - Left Sidebar </a></div>
                </li>
                <li class="menu-item depth-1">
                  <div class="title"> <a href="blog_full_width.html"> Blog - Full-Width </a></div>
                </li>
                <li class="menu-item depth-1">
                  <div class="title"> <a href="blog_single_post.html"> Single post </a></div>
                </li>
              </ul>
            </li>
            <li class="mt-root">
              <div class="mt-root-item">
                <div class="title title_font"><span class="title-text">Bán chạy nhất</span></div>
              </div>
              <ul class="menu-items col-xs-12" *ngIf="this.productSale">
                <li *ngFor="let item of productSale.data; let i=  index" class="menu-item depth-1 product menucol-1-3 withimage">
                  <div class="product-item" *ngIf="i < 3">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="icon-sale-label sale-left">Sale</div>
                        <div class="pr-img-area"> <a title="Product title here" [routerLink]="['/chi-tiet']">
                            <figure> <img class="first-img" [src]="urlImage + item.imageUrl"
                                alt="{{item.productName}}"> <img class="hover-img" [src]="urlImage + item.imageUrl"
                                alt="{{item.productName}}"></figure>
                          </a> </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button add_to_wishlist"> <a (click)="addToFavorite(item)"> <i class="fa fa-heart"></i>
                              </a> </div>
                            <!-- <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i>
                              </a> </div> -->
                            <div class="mt-button quick-view"> <a (click)="openModalQuickView(item)"> <i class="fa fa-search"></i>
                              </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="{{item.productName}}" [routerLink]="['/chi-tiet']">{{item.productName}} </a> </div>
                          <div class="item-content">
                            <div class="rating"> 
                              <!-- Tạo sao đánh giá -->
                              <ng-container *ngIf="item.rate >= 0">
                                <i class="fa fa-star" *ngFor="let rate of counterRate(item.rate)"></i>
                                <i class="fa fa-star-o" *ngFor="let rate of counterRate(5 - item.rate)"></i>
                              </ng-container>
                            </div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">{{ item.promotionPrice| currency : "VND"}}</span>
                                </span> </div>
                            </div>
                            <div class="pro-action">
                              <button (click)="addToShopingCard(item)" type="button" class="add-to-cart"><span> Thêm giỏ hàng</span> </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>               
              </ul>
            </li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<app-quick-view (sendEventToParent)="listenEventFromChild($event)" *ngIf="isShowQuickView" productSlug="{{this.productSlugToChild}}"></app-quick-view>
<ngx-spinner [fullScreen] = "true" type="ball-scale-multiple" bdColor="rgba(220, 237, 255, 0.8)" color="#0b499c"></ngx-spinner>