<div class="container">
  <div class="breadcrumb_dm">
    <ul class="breadcrumb__list">
      <li><a href="/"><i aria-hidden="true" class="fa fa-home"></i></a> <i aria-hidden="true"
          class="fa fa-angle-right"></i></li>
      <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Trang chủ</a> <i aria-hidden="true"
          class="fa fa-angle-right"></i></li>
      <li><a>Xây dựng cấu hình</a></li>
      <!-- <li><a >{{product?.productName}}</a></li> -->
    </ul>
  </div>
  <div class="block__header home-tab">
    <h2 class="block__header__title">LỰA CHỌN CẤU HÌNH</h2>
  </div>

  <div class="row">
    <div class=" col-xs-6">
      <div class="add-cart-buttons">
        <button type="button" (click)="clearItemBuildPC()" class="refresh-build"> <i class="fa fa-refresh"
            style="margin-left: 15px;"></i> Xây dựng lại
        </button>

      </div>
    </div>

    <div class="col-xs-6 total-price">
      <div class="price-box">
        <p class="special-price" style="float: right;"> Chi phí dự tính: <span class="price">
            {{sumPriceItemsInBuildPC() | currency: "VND"}}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="product-tabs-content-inner clearfix">
    <table class="table table-bordered">
      <ng-container *ngFor="let item of listIdBuildPC">
        <tr>
          <td class="att-name"><strong> {{item}}. {{getNameBuidPC(item)}}</strong></td>
          <td class="att-value">
            <ng-container *ngIf="getItemBuildPC(item)">
              <div class="col-sm-3 col-xs-4 col-md-2 img">
                <div class="product-img"
                  (click)="redirectRouterDetailProduct($event, getItemBuildPC(item).productNameSlug)">
                  <a [title]="getItemBuildPC(item).productName">
                    <img class="small-image" src="{{urlImg + getItemBuildPC(item).image}}"
                      alt="{{getItemBuildPC(item).productName}}">
                  </a>
                </div>
              </div>
              <div class="col-sm-9 col-xs-8 col-md-10" style="text-indent: 0px;">
                <div class="product-shop">
                  <h4 class="product-name"><a [title]="getItemBuildPC(item).productName"
                      (click)="redirectRouterDetailProduct($event, getItemBuildPC(item).productNameSlug)">{{getItemBuildPC(item).productName}}</a>
                  </h4>
                  <div class="price-box">
                    <p class="special-price"> <span class="price-label"></span> <span class="price"> Giá:
                        {{getItemBuildPC(item).promotionPrice | currency: "VND"}}</span> </p>
                    <!-- <p class="old-price" *ngIf="getItemBuildPC(1).promotionPrice !== 0"> <span class="price-label"></span>
                      <span class="price">{{getItemBuildPC(1).price | currency: "VND" }} </span> </p> -->
                  </div>
                  <div>
                    <a class="product-code" [title]="getItemBuildPC(item).productCode">Mã sản phẩm:
                      {{getItemBuildPC(item).productCode}}</a>
                  </div>

                  <div class="qty">
                    <div class="qty-select">
                      <span class="">Số lượng : </span>
                      <input class="qty-selected__change" type="number" min="1" max="100"
                        value="{{getItemBuildPC(item).quantity}}">
                      <span class="special-price"> = <strong class="price">{{(getItemBuildPC(item).quantity *
                          getItemBuildPC(item).promotionPrice) | currency : "VND"}}</strong> </span>
                    </div>
                    <div class="remove-build"><a class="btn-remove__build" (click)="removeItemBuildPC(item)"><i
                          class="fa fa-trash"></i></a></div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!getItemBuildPC(item)">
              <div class="add-cart-buttons">
                <button type="button" (click)="showChooseProduct(item, getNameBuidPC(item))"
                  routerLinkActive="router-link-active" class="btn-add-cart "><svg width="17"
                    style="vertical-align: sub;margin-left: 15px;" height="18" viewBox="0 0 17 18" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M15.9187 9.83092L15.9187 8.16922L9.33085 8.16922L9.33085 1.58134H7.66915L7.66915 8.16922L1.08127 8.16922L1.08127 9.83092L7.66915 9.83092L7.66915 16.4188H9.33085L9.33085 9.83092L15.9187 9.83092Z"
                      fill="white"></path>
                  </svg> &nbsp; &nbsp; {{getNameBuidPC(item)}}
                </button>
              </div>
            </ng-container>
          </td>
        </tr>

      </ng-container>
      <tr>
        <td class="att-name"></td>
        <td class="att-value">
          <p class="special-price total-buildpc-price"> Chi phí dự tính: <span class="price">
              {{sumPriceItemsInBuildPC() | currency: "VND"}}</span>
          </p>

        </td>
      </tr>
    </table>
    <div class="row">
      <div class="col-xs-6">
        <div class="">
          <button type="button" class="add-to-card" style="float: right;padding-right: 20px;padding-left: 20px;">
            <a>THÊM VÀO GIỎ HÀNG</a>
          </button>
        </div>
      </div>
      <div class=" col-xs-6">
        <div class="add-cart-buttons">
          <a type="button" class="add-to-card-lienhe" href="https://www.facebook.com/dangminhpc70/?ref=embed_page"
            style="float: left;padding-right: 20px;padding-left: 20px;"><a class="">LIÊN HỆ TƯ VẤN</a>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner [fullScreen]="true" type="ball-scale-multiple" bdColor="rgba(220, 237, 255, 0.8)"
  color="#0b499c"></ngx-spinner>