
.product {
    position: relative;
    overflow: hidden
}

.product .percent, .product-img .percent{
    position: absolute;
    left: 0;
    top: 0;
    background: #f9495f;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    width: 65px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: skew(-12deg);
    margin-left: -5px;
    z-index: 999;
}

.product .percent span, .product-img .percent  span{
    transform: skew(12deg)
}
.home__product .product {
    border: 1px solid #dddfe6;
}
.product .product__thumb {
    display: flex;
    align-items: center;
    justify-content: right;
    min-height: 255px;
    border-bottom: 2px solid transparent;
    border-color: transparent transparent #eef0f7;
    border-style: solid;
    border-width: 1px 1px 1px 1px
}

.product .product__thumb img {
    max-width: 100%;
    max-height: 100%
}

.product .product__bottom {
    transition-duration: .1s;
    height: 100%
}

.product .product__bottom .product__title {
    padding: 10px;
    margin-bottom: 7px;
    height: 3.5em;
    overflow: hidden
}

.product .product__bottom .product__title .product__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    text-decoration: none
}

.product .product__bottom .product__price {
    padding: 12px 10px 16px
}

.product .product__bottom .product__price .price__selling {
    font-weight: 700;
    font-size: 20px;
    color: #f9495f
}

.product .product__bottom .product__price .price__old {
    font-weight: 500;
    font-size: 14px;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    color: #99a0ad;
    margin-left: 5px;
}

.product .product__bottom .add-to-cart {
    background: #f9495f;
    visibility: hidden;
    opacity: 0;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    width: calc(100% - 20px);
    position: absolute;
    bottom: 24px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none
}

.product .product__bottom .product__rate .rate_item {
    padding-left: 10px;
}

.product .product__bottom .product__rate .fa-star.yellow {
   
    color: #fcc00b;
}

.product .product__bottom .add-to-cart.disable {
    background: #ccc!important
}

.product:hover,.product:hover .product__thumb {
    border-color: #29324e;
}

.product:hover .product__bottom {
    background: #29324e
}

.product:hover .product__bottom .product__link {
    color: #fff
}

/*eeeeee*/

.product .product__thumb .pr-button-info-area{
    position: absolute;
}

.product .product__thumb .add-to-wish {
    background: #f9495f;;
    visibility: visible;
    opacity: 0;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    margin-right: 0.5rem;
    width: 40px;
    transition: all 0.4s ease 0.1s;
    bottom: 24px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none
}

.product .product__thumb .add-to-wish > a> i,
.product .product__thumb .view-quick-view >a >i{
    font-size: large;
}

.product .product__thumb .view-quick-view {
    transition: all 0.4s ease 0.1s;
    background: #f9495f;;
    visibility: hidden;
    opacity: 0;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    margin-right: 0.5rem;
    margin-bottom: 15px;
    width: 40px;
    bottom: 24px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none
}
.product:hover .product__thumb .view-quick-view{
    visibility: visible;
       opacity: 1;
}
.product:hover .product__thumb  .add-to-wish{
    visibility: visible;
      opacity: 1;
}
/*eeeend*/ 

.product:hover .product__bottom .product__title .product__link {
    color: #fff;
}

.product:hover .product__bottom .product__price,.product:hover .product__bottom .product__rate {
    visibility: hidden;
    opacity: 0
}


.product:hover .product__bottom .add-to-cart {
    visibility: visible;
    opacity: 1
}





@media screen and (max-width: 1024px) {

    .category .banner--list__cat img {
        margin-top: 50px;
        max-width: 100%
    }

    .category .block--list__cat .block__content {
        grid-template-columns: calc(50% - 8px) calc(50% - 8px)!important;
        grid-gap: 16px
    }

    .category .block--list__cat .block__content .list__cat__item {
        width: 100%!important;
        height: 135px!important
    }

    .category .block--list__cat .block__content .list__cat__item .item__text {
        font-size: 12px!important;
        line-height: 21px!important
    }

    .category .block--list__cat .block__content .list__cat__item .item__image {
        width: 80px!important;
        right: 14px!important
    }

    .category .mb-button-filter {
        border: 1px solid #005ec4;
        padding: 13px 10px;
        display: flex;
        justify-content: center;
        color: #005ec4;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 25px
    }

    .category .mb-button-filter i {
        margin-right: 12px
    }

    .category .category__content {
        flex-direction: column
    }

    .category .category__content .category__product-list {
        width: 100%!important
    }

    .category .category__content .category__product-list .list-header .list-header__top {
        flex-direction: column
    }

    .category .category__content .category__product-list .list-header .list-header__top .category-name {
        font-size: 18px;
        margin-bottom: 18px;
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        line-height: 27px
    }

    .category .category__content .category__product-list .list-header .list-header__top .category-name span {
        margin-left: 0!important
    }

    .category .category__content .category__product-list .list-header .list-header__top .category-sort {
        justify-content: space-between;
        width: 100%
    }

    .category .category__content .category__product-list .list-header .list-header__bottom {
        display: none!important
    }

    .category .category__content .category__product-list .product-list {
        grid-template-columns: 50% 50%;
    }

    .category .category__content .category__product-list .product-list .product {
        border: 1px solid #dddfe6
    }

    .category .category__content .category__product-list .product-list .product .product__thumb {
        min-height: auto
    }

    .category .category__content .category__product-list .product-list .product .product__title a {
        font-size: 14px;
        line-height: 21px
    }

    .category .category__content .category__product-list .product-list .product .product__rate {
        justify-content: space-between
    }

    .category .category__content .category__product-list .product-list .product .product__rate .rate__star i {
        font-size: 12px
    }

    .category .category__content .category__product-list .product-list .product .product__rate .rate__text {
        font-size: 12px
    }

    .category .category__content .category__product-list .product-list .product .product__price {
        display: flex;
        flex-direction: row;
        height: 2.5em
    }

    .category .category__content .category__product-list .product-list .product .product__price .price__selling {
        font-size: 16px;
        margin-bottom: 5px
    }

    .category .category__content .category__product-list .product-list .product .product__price .price__old {
        font-size: 12px
    }

    .category .category__content .category__product-list .product-list .product .percent {
        font-size: 14px;
        width: 55px;
        height: 24px
    }

    .category .block--list__cat__gp .block__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        grid-row-gap: 0
    }

    .category .block--list__cat__gp .block__content .cat-item {
        margin-bottom: 10px
    }

    .category .block--list__cat__gp .block__content .cat-item img {
        width: 100%
    }

    .category .block--list__cat__gp .block__content .cat-item .cat-item__info .desc,.category .block--list__cat__gp .block__content .cat-item .cat-item__info .readmore {
        display: none
    }

    .category .category__description .title {
        font-size: 19px
    }

    .home__product {
        border: none;
    }
    .home__product {
        /* display: grid;
            grid-template-columns: 50% 50% */
    }

    /*ẩn khi màn hỉnh nhỏ ko cho howver*/
    .home__product .product .add-to-cart {
        display: none
    }

    .product:hover .product__bottom {
        background: #fff!important
    }

    .product:hover .product__bottom .product__link {
        color: #000!important
    }

    .product:hover .product__bottom .product__price,.product:hover .product__bottom .product__rate {
        visibility: visible!important;
        opacity: 1!important;
        /* height: 2em */
    }

    .product:hover .product__bottom .add-to-cart {
        visibility: hidden;
        opacity: 0
    }

    .product:hover .product__thumb .view-quick-view{
        visibility: hidden;
           opacity: 0;
    }
    .product:hover .product__thumb  .add-to-wish{
        visibility: hidden;
          opacity: 0;
    }

    .home__product  .product {
        /* border: 1px solid #dddfe6; */
    }

    .home-tab {
        margin-bottom: 15px;
        margin-top: 30px;
        padding: 0;
        font-size: 14px;
    }

    .home__product .product .product__thumb {
        min-height: auto
    }

    .home__product .product .product__title a {
        font-size: 12px !important;
        line-height: 21px !important;
    }

    .home__product  .product .product__rate {
        justify-content: space-between !important;
    }

    .home__product  .product .product__rate .rate__star i {
        font-size: 12px
    }

    .home__product  .product .product__rate .rate__text {
        font-size: 12px
    }

    .home__product  .product .product__price {
        display: flex;
        flex-direction: row;
        height: 2.5em
    }

    .home__product  .product .product__price .price__selling {
        font-size: 15px;
        margin-bottom: 5px
    }

    .home__product  .product .product__price .price__old {
        font-size: 12px
    }

    .home__product  .product .percent {
        font-size: 14px;
        width: 55px;
        height: 24px
    }


    .container {
        width: calc(100% - 28px);
        overflow: hidden;
    }
    .slide-images {
        width: calc(100% - 1px);
    }

    .breadcrumb_dm .breadcrumb__list li .fa-angle-right {
        color: #99a0ad;
        margin-left: 8px !important;
        margin-right: 8px !important;
        font-size: 14px !important
    }

    /*mobile 2 slide bị hở*/
    #slickModal .slick-list .slick-track .slick-slide > div:first-child{
        margin-bottom: -7px;
        }
}

.home__product .swiper-slide {
    display: grid;
    /* grid-template-columns: 50% 50%; */
}
.slide-images {
    width: calc(100% - 1px);
}

@media screen  and (max-width: 768px)
{
    .main-container {
        min-height: 350px;
        padding: 0px 0 0px !important;
    }

}

/*reponsive kaka củ chuối*/
/* tránh bị mất border*/
@media screen  and (max-width: 393px)
{
    .container {
        width: calc(100% - 25px);
    }

    .slide-images {
        width: calc(100% - 0px);
    }
}
@media screen  and (max-width: 390px)
{
    .container {
        width: calc(100% - 24px);
    }
    .slide-images {
        width: calc(100% - 0px);
    }
}
@media screen  and (max-width: 375px)
{
    .container {
        width: calc(100% - 27px);
    }
    .slide-images {
        width: calc(100% - 0px);
    }
}
@media screen  and (max-width: 360px)
{
    .container {
        width: calc(100% - 26px);
    }
    .slide-images {
        width: calc(100% - 0px);
    }
}
@media screen  and (max-width: 280px)
{
    .container {
        width: calc(100% - 26px);
    }
    .slide-images {
        width: calc(100% - 0px);
    }
}




/*cccccccc*/

.breadcrumb_dm {
    margin-top: 15px;
    margin-bottom: 10px
}

.breadcrumb_dm .breadcrumb__list {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.breadcrumb_dm .breadcrumb__list li .fa-home {
    color: #005ec4
}

.breadcrumb_dm .breadcrumb__list li .fa-angle-right {
    color: #99a0ad;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px
}

.breadcrumb_dm .breadcrumb__list li a {
    font-size: 16px;
    color: #4e4b4b;
    text-decoration: none;
    
}


.slick-prev{
	margin-left: 25px;
}
	
.slick-next{
	margin-right: 26px;
}

.slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 25px;
    width: 25px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: #eaebed;;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
	opacity: .6;
	height: 40px;
    width: 40px;
    top: calc(50% - 5px);
	z-index: 999;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    outline: none;
    background:  #99a0ad;;
    color: transparent;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


