.flex-viewport{
    overflow: hidden;
    position: relative;
}

.table tr td.att-name {
    width: 255px;
    height: 46px;
    background: #f0f3fc;
}

.table tr td {
    border: 1px solid #dddfe6;
    vertical-align: middle;
    text-indent: 17px;
}
.product-item{
    max-width: 178.5px; 
    max-height: 258px;
}
.container{
    margin-bottom: 30px;
}
.owl-item {
    width: 0px !important; 
    margin-right: 0px !important;
}