<ngx-slick-carousel class="swiper-container swiper-container-initialized swiper-container-horizontal home__product" #slickModal="slick-carousel" [config]="slideConfig"
  (init)="slickInit($event)">
  <div class="swiper-wrapper">
  <div ngxSlickItem *ngFor="let item of productRecents" class="swiper-slide">
    <div class="product">
      <div class="percent" *ngIf="item.rateDiscount > 0"><span>-{{item.rateDiscount}}%</span></div>
      <div class="product__thumb"><a [routerLink]="['/chi-tiet']" (click)="handleViewDetailProduct($event,item)"
          class="product__link"><img [src]='urlImg + item.imageUrl' alt="{{item.productName}}"></a>
        <div class="pr-button-info-area">
            <div class="add-to-wish" style="margin-bottom: 14px;" (click)="addToFavorite(item)"> <a> <i class="fa fa-heart-o"></i> </a> </div>
            <div class="view-quick-view" (click)="openModalQuickView(item)"> <a> <i class="fa fa-search"></i> </a> </div>
        </div>
      </div>
      <div class="product__bottom">
        <div class="product__title"><a [routerLink]="['/chi-tiet']" (click)="handleViewDetailProduct($event,item)"
            class="product__link">{{item.productName}}</a></div>
        <div class="product__rate">
          <div class="rate__star" *ngIf="item?.rate >= 0">
            <div class="rate_item">
              <i class="fa fa-star yellow" *ngFor="let rate of counterRate(item?.rate)"></i>
              <i class="fa fa-star-o" *ngFor="let rate of counterRate(5 - item?.rate)"></i>
              <span class="rate__text"> &nbsp;{{item?.countRate}} đánh giá</span>
            </div>
          </div>
        </div>
        <div class="product__price"><span class="price__selling">{{item.promotionPrice | currency: "VND" }}</span> <span
            class="price__old">{{item.price | currency: "VND" }}</span></div> <button type="button" (click)="addToShopingCard(item)"
          class="add-to-cart"><i class="fa fa-shopping-cart"></i> &nbsp;GIỎ HÀNG</button>
      </div>
    </div>
  </div>

</div>
</ngx-slick-carousel>


<app-quick-view (sendEventToParent)="listenEventFromChild($event)" *ngIf="isShowQuickView" productSlug="{{this.productSlugToChild}}"></app-quick-view>