<div [ngStyle]="isShowMenu ?  cssOpenMenuMobile : cssCloseMenuMobile" id="mobile-menu">
    <ul class="mobile-menu" *ngFor="let itemParen of allMenu">
        <li>
            <span (click)="clickIconShow(itemParen)" class="expand fa " [ngClass]="{'fa-plus':!itemParen.isExpanded,'fa-minus open':itemParen.isExpanded}" style="padding-bottom: 12.1px; padding-top: 12.1px;"></span>
            <a [routerLink]="['/danh-muc-san-pham-g']" (click)="handleMenu($event,itemParen)" style="padding-right: 55px;" class="home1">{{itemParen.categoryName}}</a>
            <ul [style.display]="itemParen.isExpanded ? 'block' : 'none'" *ngFor="let item of itemParen.submenu">
                <li><a style="padding-right: 55px;" [routerLink]="['/danh-muc-san-pham-g']" (click)="handleMenu($event,item)"><span>{{item.categoryName}}</span></a></li>
            </ul>
        </li>
    </ul>
</div>
<div id="page" [style.left]="isShowMenu ? '250px' : '0px'">
    <app-header></app-header>
    <app-menu-top (sendEventToParent)="listenEventFromChild($event)" ></app-menu-top>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
    <app-footer></app-footer>
</div>
<!-- <div class="fb-customerchat"
     page_id="100094286783003">
</div> -->
<scroll-top></scroll-top>
<ngx-spinner [fullScreen] = "true" type="ball-scale-multiple" bdColor="rgba(220, 237, 255, 0.8)" color="#0b499c"></ngx-spinner>