<!-- Breadcrumbs -->

<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="breadcrumb_dm">
        <ul class="breadcrumb__list">
          <li><i aria-hidden="true" class="fa fa-home"></i><span><i aria-hidden="true"
                class="fa fa-angle-right"></i></span> </li>
          <li class="home"> <a title="Go to Home Page" [routerLink]="['/']">Trang chủ</a></li>
          <li class="" *ngIf="this.categoryParent"> <span><i aria-hidden="true" class="fa fa-angle-right"></i></span> <a
              title="Go to {{this.categoryParent}}"(click)="redirecUrl($event,this.categoryParent?.urlSlug, '')">{{this.categoryParent?.categoryName}}</a>
          </li>

          <li class="" *ngIf="this.category"> <span><i aria-hidden="true" class="fa fa-angle-right"></i></span> <a
              title="Go to {{this.category?.categoryName}}" (click)="redirecUrl($event,this.category?.urlSlug, '')">{{this.category?.categoryName}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<div class="main-container col2-left-layout">
  <div class="container">
    <div class="row">
      <div class="col-main col-sm-9 col-xs-12 col-sm-push-3">
        <div class="category-description std">
          <div class="slider-items-products">
            <div id="category-desc-slider" class="product-flexslider hidden-buttons">
              <div class="slider-items slider-width-col1 owl-carousel owl-theme">

                <!-- Item -->
                <div class="item"> <a href="#x"><img alt="HTML template"
                      src="./../assets/images/cat-slider-img1.jpg"></a>
                  <div class="inner-info">
                    <div class="cat-img-title"> <span>Best Product 2017</span>
                      <h2 class="cat-heading"><strong>SUMMER COLLECTION</strong></h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                      <a class="info" href="#">Shop Now</a>
                    </div>
                  </div>
                </div>
                <!-- End Item -->

                <!-- Item -->
                <div class="item"> <a href="#x"><img alt="HTML template"
                      src="./../assets/images/cat-slider-img2.jpg"></a> </div>

                <!-- End Item -->

              </div>
            </div>
          </div>
        </div>
        <div class="category">
          <div class="mb-button-filter hide-pc" (click)="openSearchMobile()"><i class="fa fa-filter"></i>Lọc Sản Phẩm
          </div>
        </div>
  
        <div class="shop-inner">
          <div class="page-title">
            <h2>{{categoryName ?? "Tìm kiếm"}}</h2>
          </div>
          <div class="toolbar">
            <div class="view-mode">
              <ul>
                <li> <a [routerLink]="['/danh-muc-san-pham-g']" (click)="onChangeSelectedListAndGridProrudct()"> <i
                      class="fa fa-th-large"></i> </a> </li>
                <li class="active"> <a> <i class="fa fa-th-list"></i> </a> </li>
                <li> <a>({{visibleItems.total}} sản phẩm)</a> </li>
              </ul>
            </div>
            <div class="sorter">
              <div class="short-by">
                <label>Sắp xếp:</label>
                <select #sortSelecte (change)="onSelectedSort(sortSelecte.value)">
                  <option selected="selected" value="1">Giá tăng dần</option>
                  <option value="2">Giá giảm dần</option>
                </select>
              </div>
              <div class="short-by page">
                <label>Hiện thị:</label>
                <select #pageSizeSelect (change)="onSelectedPageSize(pageSizeSelect.value)">
                  <option selected="selected">12</option>
                  <option>24</option>
                  <option>36</option>
                  <option>48</option>
                </select>
              </div>
            </div>
          </div>
          <div class="product-list-area">
            <ul class="products-list" id="products-list">
              <ng-container *ngIf="isLoadComplete && (visibleItems.items.length == 0)">
                <p>Không có sản phẩm nào phù hợp.</p>
              </ng-container>

              <li class="item" *ngFor="let item of visibleItems.items">
                <div class="product-img">
                  <div class="percent" *ngIf="item.rateDiscount > 0"><span>-{{item.rateDiscount}}%</span></div>
                  <a (click)="redirectRouterDetailProduct($event, item.productNameSlug)"
                    [title]="item.productName">
                    <figure> <img class="small-image" src="{{urlImg + item.imageUrl}}" alt="{{item.productName}}">
                    </figure>
                  </a>
                </div>
                <div class="product-shop"> 
                  <h1 class="product-name"><a (click)="redirectRouterDetailProduct($event, item.productNameSlug)"
                      [title]="item.productName">{{item.productName}}</a></h1>
                  <div class="product__rate">
                    <div class="rate__star" *ngIf="item.rate >= 0">
                      <div class="rate_item">
                        <i class="fa fa-star yellow" *ngFor="let rate of counterRate(item.rate)"></i>
                        <i class="fa fa-star-o" *ngFor="let rate of counterRate(5 - item.rate)"></i>
                        <span class="rate__text"> &nbsp;{{item?.countRate}} đánh giá</span>
                      </div>
                    </div>
                  </div>
                  <div class="price-box">
                    <p class="special-price"> <span class="price-label"></span> <span
                        class="price">{{item.promotionPrice | currency: "VND"}}</span> </p>
                    <p class="old-price" *ngIf="item.promotionPrice !== 0"> <span class="price-label"></span> <span
                        class="price">{{item.price | currency: "VND" }} </span> </p>
                  </div>
                  <div class="desc std">
                    <p [innerHTML]="item.content">
                    </p>
                    <a class="link-learn" title="Xem thêm"(click)="redirectRouterDetailProduct($event, item.productNameSlug)">Xem thêm</a>
                  </div>
                  <div class="actions">
                    <div class="add-cart-buttons"><button type="button" class="btn-add-cart btn-add-cart"
                      (click)="addToShopingCard(item)">
                      <svg width="17" style="vertical-align: sub;" height="18" viewBox="0 0 17 18" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M15.9187 9.83092L15.9187 8.16922L9.33085 8.16922L9.33085 1.58134H7.66915L7.66915 8.16922L1.08127 8.16922L1.08127 9.83092L7.66915 9.83092L7.66915 16.4188H9.33085L9.33085 9.83092L15.9187 9.83092Z"
                          fill="white"></path>
                      </svg>
                      Thêm vào giỏ
                    </button>
                    <ul>
                      <li class=""> <a  (click)="addToFavorite(item)"> <i class="fa fa-heart-o"></i><span> Thêm vào yêu
                            thích</span> </a> </li>
                      <!-- <li> <a [routerLink]="['/so-sanh']"> <i class="fa fa-link"></i><span> Add to Compare</span> </a> </li> -->
                    </ul>
                    </div>
                    
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="pagination-area">
            <my-pagination *ngIf="isLoadComplete" [total]="visibleItems.total" [formControl]="paginationControl">
            </my-pagination>
          </div>
        </div>
      </div>
      <aside class="sidebar col-sm-3 col-xs-12 col-sm-pull-9">
        <div class="block category-sidebar">
          <div class="sidebar-title">
            <h3>Categories</h3>
          </div>
          <ul class="product-categories">
            <li class="cat-item current-cat cat-parent"><a href="shop_grid.html">Women</a>
              <ul class="children">
                <li class="cat-item cat-parent"><a [routerLink]="['/danh-muc-san-pham-g']"><i
                      class="fa fa-angle-right"></i>&nbsp; Accessories</a>
                  <ul class="children">
                    <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i
                          class="fa fa-angle-right"></i>&nbsp; Dresses</a></li>
                    <li class="cat-item cat-parent"><a [routerLink]="['/danh-muc-san-pham-g']"><i
                          class="fa fa-angle-right"></i>&nbsp; Handbags</a>
                      <ul class="children">
                        <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i
                              class="fa fa-angle-right"></i>&nbsp; Beaded Handbags</a></li>
                        <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i
                              class="fa fa-angle-right"></i>&nbsp; Sling bag</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="cat-item cat-parent"><a [routerLink]="['/danh-muc-san-pham-g']"><i
                      class="fa fa-angle-right"></i>&nbsp; Handbags</a>
                  <ul class="children">
                    <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i
                          class="fa fa-angle-right"></i>&nbsp; backpack</a></li>
                    <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i
                          class="fa fa-angle-right"></i>&nbsp; Beaded Handbags</a></li>
                    <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i
                          class="fa fa-angle-right"></i>&nbsp; Fabric Handbags</a></li>
                    <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i
                          class="fa fa-angle-right"></i>&nbsp; Sling bag</a></li>
                  </ul>
                </li>
                <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp;
                    Jewellery</a> </li>
                <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp;
                    Swimwear</a> </li>
              </ul>
            </li>
            <li class="cat-item cat-parent"><a [routerLink]="['/danh-muc-san-pham-g']">Men</a>
              <ul class="children">
                <li class="cat-item cat-parent"><a [routerLink]="['/danh-muc-san-pham-g']"><i
                      class="fa fa-angle-right"></i>&nbsp; Dresses</a>
                  <ul class="children">
                    <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i
                          class="fa fa-angle-right"></i>&nbsp; Casual</a></li>
                    <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i
                          class="fa fa-angle-right"></i>&nbsp; Designer</a></li>
                    <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i
                          class="fa fa-angle-right"></i>&nbsp; Evening</a></li>
                    <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i
                          class="fa fa-angle-right"></i>&nbsp; Hoodies</a></li>
                  </ul>
                </li>
                <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp;
                    Jackets</a> </li>
                <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp;
                    Shoes</a> </li>
              </ul>
            </li>
            <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']">Electronics</a></li>
            <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']">Furniture</a></li>
            <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']">KItchen</a></li>
          </ul>
        </div>
        <div class="block shop-by-side hide-mobile">
          <div class="sidebar-bar-title">
            <span style="font-size: 20px;">Bộ lọc sản phẩm</span>
          </div>
        </div>
        <div class="hide-mobile">
          <div class="block-content">
            <div *ngIf="isLoadComplete">
              <ng-container *ngFor="let group of groupSearch; let i = index;">
                <!-- 0 là search text 1 là search price -->
                <ng-container *ngIf="group.typeSearch == 1">

                  <div class="block-filter">
                    <div class="filter-header" (click)="handleClickGroupSearch($event, i.toString())">
                      <a>{{group.filterDisplayText}} </a><i class="fa fa-angle-right"></i>
                    </div>
                    <div [attr.id]="'body-inner' + i"
                      [ngClass]="{'filter-body-inner': i == 0, 'filter-body-inner noactive': i != 0}">
                      <ul class="filter-body">
                        <li class="filter-item" *ngFor="let item of group.itemFilterValues">
                          <input type="checkbox" id="{{item.filterValueID}}" class="checkmark"
                            (change)="changeSelectionPrice($event, item.filterValueID)"
                            [ngModel]="selectedPriceIndex === item.filterValueID" name="fieldName" ngDefaultControl />
                          <label [ngModel]="selectedPriceIndex === item.filterValueID" name="fieldName" ngDefaultControl
                            for="p1" (click)="changeSelectionPrice($event, item.filterValueID)"> <span
                              class="button"></span> &nbsp; {{item.filterValueDisplayText}}<span class="count"></span>
                          </label>
                      </ul>
                      <div class="sp">Hoặc nhập giá dưới đây</div>
                      <div class="inputPrice">

                        <input #inputMinPrice type="number" class="" placeholder="" name="minPrice" maxlength="10"
                          min="0" [(ngModel)]="minPrice">
                        <input #inputMaxPrice type="number" class="" placeholder="" name="maxPrice" maxlength="10"
                          min="0" [(ngModel)]="maxPrice">
                      </div>
                      <div style="margin-top: 15px;"><a type="button" (click)="this.onPageChange(this.pagination);"
                          class="but_ok_2"><i class="fa fa-check"></i>&nbsp; Áp dụng</a></div>

                    </div>
                  </div>

                </ng-container>
                <ng-container *ngIf="group.typeSearch == 0">
                  <div class="block-filter">
                    <div class="filter-header" (click)="handleClickGroupSearch($event, i.toString())">
                      <a>{{group.filterDisplayText}} </a><i class="fa fa-angle-right"></i>
                    </div>
                    <div [attr.id]="'body-inner' + i"
                      [ngClass]="{'filter-body-inner': i == 0, 'filter-body-inner noactive': i != 0}">
                      <ul class="filter-body">
                        <li class="filter-item" *ngFor="let item of group.itemFilterValues">
                          <input type="checkbox" id="{{item.filterValueID}}" name="cc" class="checkmark"
                            (change)="changeSelectionKeySearch($event, item.filterValueID)"
                            [ngModel]="selectedTextIndex === item.filterValueID" name="fieldName" ngDefaultControl />
                          <label for="p1"> <span class="button"></span> &nbsp; {{item.filterValueDisplayText}}<span
                              class="count"></span> </label>
                      </ul>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="block sidebar-cart">
          <div class="sidebar-bar-title">
            <span>Giỏ hàng của bạn</span>
          </div>
          <div class="block-content">
            <p class="amount">Có <a [routerLink]="['/gio-hang']">{{this.myCart.length}} sản phẩm</a> trong giỏ.</p>
            <ul *ngIf="this.myCart && this.myCart.length > 0">
              <li *ngFor="let item of this.myCart" class="item">
                <a [routerLink]="['/gio-hang']" title="{{item.productName}}" class="product-image"><img
                    [src]="urlImg + item.image" alt="{{item.productName}}"></a>
                <div class="product-details">
                  <div class="access"> <a (click)="removeItemCart(item.id)" title="Remove This Item"
                      class="remove-cart"><i class="icon-close"></i></a></div>
                  <p class="product-name"> <a [routerLink]="['gio-hang']">{{item.productName}}</a> </p>
                  <strong>{{item.quantity}}</strong> x <span class="price">{{item.price | currency : "VND"}}</span>
                </div>
              </li>

            </ul>
            <div class="summary">
              <p class="subtotal"> <span class="label">Tổng tiền:</span> <span class="price">{{sumPriceItemsInCart() |
                  currency : "VND"}}</span> </p>
            </div>
            <div class="cart-checkout">
              <button class="button button-checkout" title="Submit" type="submit"  [routerLink]="['/gio-hang']"><span>Thanh toán</span></button>
            </div>
          </div>
        </div>

        <div class="single-img-add sidebar-add-slider ">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner div-to-hide-mobile" role="listbox">
              <div class="item active"> <img src="../../assets/images/image-manhinh-banner.jpg" alt="slide1">
                <div class="carousel-caption">
                  <h3><a [routerLink]="['/chi-tiet']" title=" Sample Product">Sale Up to 50% off</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <a href="#" class="info">shopping Now</a>
                </div>
              </div>
              <div class="item"> <img src="../../assets/images/laptop-banner.png"  alt="slide2">
                <div class="carousel-caption">
                  <h3><a [routerLink]="['/chi-tiet']" title=" Sample Product">Smartwatch Collection</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <a href="#" class="info">All Collection</a>
                </div>
              </div>
              <div class="item"> <img src="../../assets/images/image-banner.jpg" alt="slide3">
                <div class="carousel-caption">
                  <h3><a [routerLink]="['/chi-tiet']" title=" Sample Product">Summer Sale</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span
                class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span
                class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic"
              role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
          </div>
        </div>
        <div class="block special-product">
          <div class="sidebar-bar-title">
            <h3>Sản phẩm ưu đãi</h3>
          </div>
          <div class="block-content">
            <ul *ngIf="productSale">
              <ng-container *ngFor="let item of productSale?.data; let i = index">
                <li class="item">
                  <div class="products-block-left"> <a (click)="redirectRouterDetailProduct($event, item.productNameSlug)" [title]="item.productName"
                      class="product-image"><img [src]='urlImg + item.imageUrl' alt="Sample Product "></a></div>
                  <div class="products-block-right">
                    <p class="product-name"> <a (click)="redirectRouterDetailProduct($event, item.productNameSlug)">{{item.productName}}</a> </p>
                    <span class="price">{{item?.promotionPrice | currency: "VND"}}</span>
                    <div class="rating">
                      <ng-container *ngIf="item.rate >= 0">
                        <i class="fa fa-star" *ngFor="let rate of counterRate(item.rate)"></i>
                        <i class="fa fa-star-o" *ngFor="let rate of counterRate(5 - item.rate)"></i>
                      </ng-container>

                    </div>
                  </div>
                </li>
              </ng-container>
            </ul>
            <a class="link-all" [routerLink]="['/danh-muc-san-pham-g']" [queryParams]="{typeStatus: 1}">Xem thêm</a>
          </div>
        </div>
        <div class="block popular-tags-area ">
          <div class="sidebar-bar-title">
            <h3>Popular Tags</h3>
          </div>
          <div class="tag">
            <ul>
              <li *ngFor="let item of category?.categoryTags"><a (click)="redirecUrl($event, '', item)" >{{item}}</a></li>
            </ul>
          </div>
        </div>
        <div class="offer-banner div-to-hide-mobile"><img src="./../assets/images/offer-banner.jpg" alt="banner"></div>
      </aside>
      <div class="category searchMobile hidden-pc" id="searchMobile">
        <div class="category__content">
          <div class="mb_sidebar_filter">
            <aside id="column-left" class="category__sidebar">
              <div class="sidebar__title">Bộ lọc sản phẩm
                <div class="mb-hide-filter hide-pc" (click)="closeSearchMobile()"><i class="fa fa-times"></i></div>
              </div>
              <div class="sidebar__wrapper">
                <div *ngIf="isLoadComplete">
                  <ng-container *ngFor="let group of groupSearch; let i = index;">
                    <ng-container *ngIf="group.typeSearch == 1">
                    <div class="block-filter">
                      <div class="filter-header" (click)="handleClickGroupSearchMobile($event, i.toString())"> {{group.filterDisplayText}} 
                        <i  [attr.id]="'body-inner-m-angle' + i"  class="fa fa-angle-right"></i>
                      </div>
                      <div [attr.id]="'body-inner-m' + i" [ngClass]="{'': i == 0, 'noactive': i != 0}">
                      <div class="filter-body">
                        <div class="filter-body-inner">
                          <div class="filter-item" *ngFor="let item of group.itemFilterValues">
                            <label>
                              <input type="checkbox" id="{{item.filterValueID}}" class="checkmark" (change)="changeSelectionPriceMobile($event, item.filterValueID)" 
                              [ngModel]="selectedPriceIndex === item.filterValueID" name="fieldNamePrice" ngDefaultControl> <span class="checkmark"></span> <span class="label">{{item.filterValueDisplayText}}</span>
                              </label>
                          </div>
                          <div class="sp">Hoặc nhập giá dưới đây</div>
                          <div class="inputPrice">                          
                            <input #inputMinPrice type="number" class="" placeholder="" name="minPrice" maxlength="10" min="0"
                              [(ngModel)]="minPrice">
                            <input #inputMaxPrice type="number" class="" placeholder="" name="maxPrice" maxlength="10" min="0"
                              [(ngModel)]="maxPrice">
                          </div>
                        </div>
                      </div>
                     </div>
                    </div>
                    </ng-container>
                    <ng-container *ngIf="group.typeSearch == 0">
                      <div class="block-filter">
                        <div class="filter-header" (click)="handleClickGroupSearchMobile($event, i.toString())"> {{group.filterDisplayText}} 
                          <i  [attr.id]="'body-inner-m-angle' + i"  class="fa fa-angle-right"></i>
                        </div>
                        <div [attr.id]="'body-inner-m' + i" [ngClass]="{'': i == 0, 'noactive': i != 0}">
                        <div class="filter-body">
                          <div class="filter-body-inner">
                            <div class="filter-item" *ngFor="let item of group.itemFilterValues">
                              <label>
                                <input type="checkbox" id="{{item.filterValueID}}" class="checkmark" (change)="changeSelectionKeySearchMobile($event, item.filterValueID)" 
                                [ngModel]="selectedTextIndex === item.filterValueID" name="fieldName" ngDefaultControl> <span class="checkmark"></span> <span class="label">{{item.filterValueDisplayText}}</span>
                                </label>
                            </div>                          
                          </div>
                        </div>
                       </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div> 
              </div>
              <div class="apply-cancel-filter">
                <button  (click)="this.onPageChange(this.pagination);">Áp dụng</button>
              <button (click)="closeSearchMobile()">Hủy</button></div>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main Container End -->
<ngx-spinner [fullScreen]="true" type="ball-scale-multiple" bdColor="rgba(220, 237, 255, 0.8)"
  color="#0b499c"></ngx-spinner>