.main-slider{
    margin-top: 20px;
}
.image-banner{
    min-height: 420px;
}
@media screen and (max-width: 1024px) {
    .hidden-xs{
        display: none  !important;
    }
    .image-banner{
        min-height: 220px;
        max-height:  320px !important;
    }
}
