<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" [routerLink]="['/']">Home</a><span>&raquo;</span></li>
            <li class=""><a title="Go to {{categoryName}}" [routerLink]="['/danh-muc-san-pham-g']">{{categoryName}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
  <!-- Main Container -->
  <div class="main-container col2-left-layout">
    <div class="container">
      <div class="row">
        <div class="col-main col-sm-9 col-xs-12 col-sm-push-3">
          <div class="category-description std">
            <div class="slider-items-products">
              <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col1 owl-carousel owl-theme"> 
                  
                  <!-- Item -->
                  <div class="item"> <a href="#x"><img alt="HTML template" src="./../assets/images/cat-slider-img1.jpg"></a>
                    <div class="inner-info">
                      <div class="cat-img-title"> <span>Best Product 2017</span>
                        <h2 class="cat-heading">Best Selling Brand</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                        <a class="info" href="#">Shop Now</a> </div>
                    </div>
                  </div>
                  <!-- End Item --> 
                  
                  <!-- Item -->
                  <div class="item"> <a href="#x"><img alt="HTML template" src="./../assets/images/cat-slider-img2.jpg"></a> </div>
                  
                  <!-- End Item --> 
                  
                </div>
              </div>
            </div>
          </div>
          <div class="shop-inner">
            <div class="page-title">
              <h2>{{this.category?.categoryName}}</h2>
            </div>
            <div class="toolbar">
              <div class="view-mode">
                <ul>
                  <li class="active"> <a [routerLink]="['/danh-muc-san-pham-g']" > <i class="fa fa-th-large"></i> </a> </li>
                  <li> <a [routerLink]="['/danh-muc-san-pham-l']" [queryParams]="{searchKey: this.searchKey}"> <i class="fa fa-th-list"></i> </a> </li>
                  <li> <a>({{visibleItems.total}} sản phẩm)</a> </li>
                </ul>
              </div>
              <div class="sorter">
                <div class="short-by">
                  <label>Sắp xếp:</label>
                  <select #sortSelecte (change)="onSelectedSort(sortSelecte.value)">
                    <option selected="selected" value="1">Giá tăng dần</option>
                    <option value="2">Giá giảm dần</option>
                  </select>
                </div>
                <div class="short-by page">
                  <label>Hiện thị:</label>
                  <select #pageSizeSelect (change)="onSelectedPageSize(pageSizeSelect.value)">
                    <option selected="selected">9</option>
                    <option>18</option>
                    <option>27</option>
                    <option>36</option>
                  </select>
                </div>
                <div class="short-by">
                  <label>Trạng thái:</label>
                  <form [formGroup]="form">
                  <select #typeStatus (change)="onChangeSelectedTypeStatus(typeStatus.value)" formControlName="typeStatus" required>
                    <option selected="selected" value="0">Tất cả</option>   
                    <option value="1">Ưu đãi </option>         
                    <option value="2">Bán chạy</option>
                    <option value="3">Mới</option>
                    <option value="4">Nổi bậc</option>
                  </select>
                </form>
                </div>
              </div>
            </div>
            <div class="product-grid-area">
            <ng-container
              *ngIf="isLoadComplete && (visibleItems.items.length == 0)">
              <p>Không có sản phẩm nào phù hợp.</p>
            </ng-container>
              <my-card *ngFor="let item of visibleItems.items">
              <ul class="products-grid" >
                <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6 ">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="icon-new-label new-left">New</div>
                        <div class="pr-img-area"> <a [title]="item.productName" [routerLink]="['/chi-tiet']" [queryParams]="{slug: item.productNameSlug}">
                          <figure> <img class="first-img" [src]="[urlImg + item.imageUrl]" alt="HTML template"> <img class="hover-img" src="{{urlImg + item.imageUrl}}" alt="HTML template"></figure>
                          </a> </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button add_to_wishlist"> <a [routerLink]="['/danh-sach-yeu-thich']" routerLinkActive="router-link-active" > <i class="fa fa-heart"></i> </a> </div>
                            <div class="mt-button add_to_compare"> <a [routerLink]="['/so-sanh']"> <i class="fa fa-signal"></i> </a> </div>
                            <div class="mt-button quick-view"> <a [routerLink]="['/xem-nhanh']"> <i class="fa fa-search"></i> </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="{{item.productName}}" [routerLink]="['/chi-tiet']" [queryParams]="{slug: item.productNameSlug}">{{item.productName}}</a> </div>
                          <div class="item-content">
                            <div class="rating"> 
                               <!-- Tạo sao đánh giá -->
                                <ng-container *ngIf="item.rate >= 0">
                                  <i class="fa fa-star" *ngFor="let rate of counterRate(item.rate)"></i>
                                  <i class="fa fa-star-o" *ngFor="let rate of counterRate(5 - item.rate)"></i>
                                </ng-container>
                            </div>
                            <div class="item-price">
                              <div class="price-box" *ngIf="item.promotionPrice == 0"> 
                                <span class="regular-price" > <span class="price">{{item.price | currency: "VND" }}</span> </span> </div>
                               <ng-container *ngIf="item.promotionPrice > 0">
                                <p class="special-price"> <span class="price-label">Giá khuyến mãi</span> <span class="price"> {{item.promotionPrice | currency: "VND" }} </span> </p>
                                <p class="old-price"> <span class="price-label">Giá cũ:</span> <span class="price"> {{item.price | currency: "VND" }} </span> </p>
                              </ng-container>
                            </div>
                            <div class="pro-action">
                              <button type="button" class="add-to-cart"><span> Thêm giỏ hàng</span> </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </my-card>
            </div>
           
            <div class="pagination-area" >
              <my-pagination *ngIf="isLoadComplete" [total]="visibleItems.total" [formControl]="paginationControl">
              </my-pagination>
            </div>
          </div>
        </div>
        <aside class="sidebar col-sm-3 col-xs-12 col-sm-pull-9">
          <!-- <div class="block category-sidebar">
            <div class="sidebar-title">
              <h3>Categories</h3>
            </div>
            <ul class="product-categories">
              <li class="cat-item current-cat cat-parent"><a [routerLink]="['/danh-muc-san-pham-g']">Women</a>
                <ul class="children">
                  <li class="cat-item cat-parent"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Accessories</a>
                    <ul class="children">
                      <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Dresses</a></li>
                      <li class="cat-item cat-parent"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Handbags</a>
                        <ul  class="children">
                          <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Beaded Handbags</a></li>
                          <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Sling bag</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="cat-item cat-parent"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Handbags</a>
                    <ul class="children">
                      <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; backpack</a></li>
                      <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Beaded Handbags</a></li>
                      <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Fabric Handbags</a></li>
                      <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Sling bag</a></li>
                    </ul>
                  </li>
                  <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Jewellery</a> </li>
                  <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Swimwear</a> </li>
                </ul>
              </li>
              <li class="cat-item cat-parent"><a [routerLink]="['/danh-muc-san-pham-g']">Men</a>
                <ul class="children">
                  <li class="cat-item cat-parent"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Dresses</a>
                    <ul class="children">
                      <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Casual</a></li>
                      <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Designer</a></li>
                      <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Evening</a></li>
                      <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Hoodies</a></li>
                    </ul>
                  </li>
                  <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Jackets</a> </li>
                  <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']"><i class="fa fa-angle-right"></i>&nbsp; Shoes</a> </li>
                </ul>
              </li>
              <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']">Electronics</a></li>
              <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']">Furniture</a></li>
              <li class="cat-item"><a [routerLink]="['/danh-muc-san-pham-g']">KItchen</a></li>
            </ul>
          </div> -->
          <div class="block shop-by-side">
            <div class="sidebar-bar-title">
              <span style="font-size: 20px;">Bộ lọc sản phẩm</span>
            </div>
            <div class="block-content">
              <div *ngIf="isLoadComplete">
                <ng-container *ngFor="let group of groupSearch; let i = index;">
                   <!-- 0 là search text 1 là search price -->
                  <ng-container *ngIf="group.typeSearch == 1">
                    <div class="block-filter">
                      <div class="filter-header" (click)="handleClickGroupSearch($event, i.toString())">
                        <a>{{group.filterDisplayText}} </a><i class="fa fa-angle-right"></i></div>
                      <div [attr.id]="'body-inner' + i"
                        [ngClass]="{'filter-body-inner': i == 0, 'filter-body-inner noactive': i != 0}">
                        <ul class="filter-body">
                          <li class="filter-item" *ngFor="let item of group.itemFilterValues">
                            <input type="checkbox" id="{{item.filterValueID}}" class="checkmark" (change)="changeSelectionPrice($event, item.filterValueID)" 
                              [ngModel]="selectedPriceIndex === item.filterValueID" name="fieldName" ngDefaultControl/>
                            <label class="textFilter" style="font-size: 13px;" [ngModel]="selectedPriceIndex === item.filterValueID" name="fieldName" ngDefaultControl for="p1" (click)="changeSelectionPrice($event, item.filterValueID)"> <span class="button" ></span> &nbsp; {{item.filterValueDisplayText}}<span class="count"></span> </label>
                        </ul>
                        <div class="sp">Hoặc nhập giá dưới đây</div>
                        <div class="inputPrice">

                          <input #inputMinPrice  type="number" class="" placeholder="" name="minPrice" maxlength="10" min="0"  [(ngModel)]="minPrice">
                          <input #inputMaxPrice  type="number" class="" placeholder="" name="maxPrice" maxlength="10" min="0" [(ngModel)]="maxPrice">
                        </div>
                        <div style="margin-top: 15px;"><a type="button" (click)="this.onPageChange(this.pagination);" class="but_ok_2"><i class="fa fa-check"></i>&nbsp; Áp dụng</a></div>
                        
                      </div>
                    </div>                 
                  </ng-container>
                  <ng-container *ngIf="group.typeSearch == 0">
                    <div class="block-filter">
                      <div class="filter-header" (click)="handleClickGroupSearch($event, i.toString())">
                        <a>{{group.filterDisplayText}} </a><i class="fa fa-angle-right"></i></div>
                      <div [attr.id]="'body-inner' + i"
                        [ngClass]="{'filter-body-inner': i == 0, 'filter-body-inner noactive': i != 0}">
                        <ul class="filter-body">
                          <li class="filter-item" *ngFor="let item of group.itemFilterValues">
                            <input type="checkbox" id="{{item.filterValueID}}" name="cc" class="checkmark"  (change)="changeSelectionKeySearch($event, item.filterValueID)" 
                            [ngModel]="selectedPriceIndex === item.filterValueID" name="fieldName" ngDefaultControl/>
                            <label for="p1"> <span class="button"></span> &nbsp; {{item.filterValueDisplayText}}<span class="count"></span> </label>
                        </ul>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
          
          <div class="block sidebar-cart">
            <div class="sidebar-bar-title">
              <h3>Giỏ hàng của bạn</h3>
            </div>
            <div class="block-content">
              <p class="amount">Có <a [routerLink]="['/gio-hang']">2 sản phẩm</a> trong giỏ.</p>
              <ul>
                <li class="item"> <a [routerLink]="['/gio-hang']" title="Sample Product" class="product-image"><img src="./../assets/images/products/product-1.jpg" alt="Sample Product "></a>
                  <div class="product-details">
                    <div class="access"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a></div>
                    <p class="product-name"> <a [routerLink]="['gio-hang']">Lorem ipsum dolor sit amet Consectetur</a> </p>
                    <strong>1</strong> x <span class="price">$19.99</span> </div>
                </li>
                <li class="item last"> <a href="#" title="Sample Product" class="product-image"><img src="./../assets/images/products/product-1.jpg" alt="Sample Product"></a>
                  <div class="product-details">
                    <div class="access"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a></div>
                    <p class="product-name"> <a [routerLink]="['/gio-hang']">Consectetur utes anet adipisicing elit</a> </p>
                    <strong>1</strong> x <span class="price">$8.00</span> 
                    <!--access clearfix--> 
                  </div>
                </li>
              </ul>
              <div class="summary">
                <p class="subtotal"> <span class="label">Tổng tiền:</span> <span class="price">$27.99</span> </p>
              </div>
              <div class="cart-checkout">
                <button class="button button-checkout" title="Submit" type="submit"><span>Thanh toán</span></button>
              </div>
            </div>
          </div>
         
          <div class="single-img-add sidebar-add-slider ">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> 
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
              
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active"> <img src="../../assets/images/image-banner.jpg" alt="banner"/> 
                  <div class="carousel-caption">
                    <h3><a [routerLink]="['/chi-tiet']"  title=" Sample Product">Sale Up to 50% off</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="info">shopping Now</a> </div>
                </div>
                <div class="item"> <img src="../../assets/images/laptop-banner.png" alt="banner"/> 
                  <div class="carousel-caption">
                    <h3><a [routerLink]="['/chi-tiet']"  title=" Sample Product">Smartwatch Collection</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="info">All Collection</a> </div>
                </div>
                <div class="item"> <img src="../../assets/images/image-manhinh-banner.jpg" alt="banner"/> 
                  <div class="carousel-caption">
                    <h3><a [routerLink]="['/chi-tiet']" title=" Sample Product">Summer Sale</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </div>
              </div>
              
              <!-- Controls --> 
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
          </div>
          <div class="block special-product">
            <div class="sidebar-bar-title">
              <h3>Sản phẩm ưu đãi</h3>
            </div>
            <div class="block-content">
              <ul *ngIf="productSale">
                <ng-container *ngFor="let item of productSale?.data; let i = index">
                <li class="item">
                  <div class="products-block-left"> <a [routerLink]="['/chi-tiet']"  [queryParams]="{slug: item?.productNameSlug}" [title]="item.productName" class="product-image"><img [src]='urlImg + item.imageUrl' alt="Sample Product "></a></div>
                  <div class="products-block-right">
                    <p class="product-name"> <a [routerLink]="['/chi-tiet']" [queryParams]="{slug: item?.productNameSlug}">{{item.productName}}</a> </p>
                    <span class="price">{{item?.promotionPrice | currency: "VND"}}</span>
                    <div class="rating"> 
                      <ng-container *ngIf="item.rate >= 0">
                        <i class="fa fa-star" *ngFor="let rate of counterRate(item.rate)"></i>
                        <i class="fa fa-star-o" *ngFor="let rate of counterRate(5 - item.rate)"></i>
                      </ng-container>
                    
                    </div>
                  </div>
                </li>
               </ng-container>       
              </ul>
              <a class="link-all" [routerLink]="['/danh-muc-san-pham-g']">Xem thêm</a> </div>
          </div>
          <div class="block popular-tags-area ">
            <div class="sidebar-bar-title">
              <h3>Popular Tags</h3>
            </div>
            <div class="tag">
              <ul>
                <li><a href="#">Boys</a></li>
                <li><a href="#">Camera</a></li>
                <li><a href="#">good</a></li>
                <li><a href="#">Computers</a></li>
                <li><a href="#">Phone</a></li>
                <li><a href="#">clothes</a></li>
                <li><a href="#">girl</a></li>
                <li><a href="#">shoes</a></li>
                <li><a href="#">women</a></li>
                <li><a href="#">accessoties</a></li>
                <li><a href="#">View All Tags</a></li>
              </ul>
            </div>
          </div>
       
          <div class="offer-banner"><img src="../../assets/images/image-banner.jpg" alt="banner"></div>
        </aside>
      </div>
    </div>
  </div>
  <!-- Main Container End --> 
  <ngx-spinner [fullScreen] = "true" type="ball-scale-multiple" bdColor="rgba(220, 237, 255, 0.8)" color="#0b499c"></ngx-spinner>