 <!-- Breadcrumbs -->
  
 <div class="breadcrumbs">
    <div class="container">
      <div class="container">
        <div class="breadcrumb_dm">
          <ul class="breadcrumb__list">
            <li><i aria-hidden="true" class="fa fa-home"></i><span><i aria-hidden="true" class="fa fa-angle-right"></i></span> </li>
            <li class="home"> <a title="Go to Home Page" [routerLink]="['/']">Trang chủ</a></li>
            <li class="" > <span><i aria-hidden="true" class="fa fa-angle-right"></i></span> <a>Lịch sử mua hàng</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End --> 
  <!-- Main Container -->
  <section class="main-container col2-right-layout">
    <div class="main container">
      <div class="row">
        <div class="col-main col-sm-9 col-xs-12">
          <div class="my-account">
            <div class="page-title">
              <h2>Lịch sử</h2>
            </div>
            <!-- #inputSearch (keydown.enter)="searchFilter($event,inputSearch.value, cateSelect.value)"  -->
            <div class="order-search">
              <h5>Số điện thoại</h5>
              <div class="searchbox">
                <input #inputSearch (keydown.enter)="getOrderByPhone(inputSearch.value)"  type="number" class="form-control" placeholder="Bạn muốn tìm..." name="search">
                <button class="mobile-button-search" type="button" (click)="getOrderByPhone(inputSearch.value)" ><i class="fa fa-search"></i></button>
              </div> 
            </div>
            
            <div class="orders-list table-responsive"> 
              <!--orders list table-->
              <table class="table table-bordered cart_summary table-striped">
                <thead>
                  <tr> 
                    <!--titles for td-->
                    <th>Mã đơn hàng</th>
                    <th>Ngày</th>
                    <th>Trạng thái</th>
                    <th>Tổng tiền</th>
                  </tr>
                </thead>
                <tbody *ngIf="listOrder?.length > 0">
                  <tr *ngFor="let item of listOrder"> 
                    <!--order number-->
                    <td data-title="Order Number"><a href="order_details.html" class="order-number">{{item.orderCode}}</a></td>
                    <!--order date-->
                    <td data-title="Order Date">{{item.createdDate | date:'yyyy-MM-dd'}}</td>
                    <!--order status-->
                    <td data-title="Order Status">{{getNameStatus(item.status)}}</td>
                    <!--quanity-->
                    <td data-title="Total"><span class="order-total">{{item.totalAmount | currency: "VND"}}</span></td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <aside class="right sidebar col-sm-3 col-xs-12">
          <div class="sidebar-account block">
            <div class="sidebar-bar-title">
              <h3>Liên hệ Fanpage </h3>
            </div>
           <div class="block-content">
              <ul>
                <li><a href="https://www.facebook.com/dangminhpc70">Đăng Minh Computer</a></li>
                  <!--<li><a href="#">Account Information</a></li>
                <li><a href="#">Address Book</a></li>
                <li><a href="#">My Orders</a></li>
                <li><a href="#">Billing Agreements</a></li>
                <li><a href="#">Recurring Profiles</a></li>
                <li><a href="#">My Product Reviews</a></li>
                <li><a href="#">My Tags</a></li>
                <li class="current"><a href="#">My Wishlist</a></li>
                <li><a href="#">My Downloadable</a></li>
                <li class="last"><a href="#">Newsletter Subscriptions</a></li> -->
              </ul><div class="cart-info">
                <div class="info">
                  <div class="info-item"><svg style="margin-right: 10px;"
                 width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z"
                        fill="#27AE60"></path>
                      <path
                        d="M7.74909 10.7374L6.01159 8.99993L5.41992 9.58743L7.74909 11.9166L12.7491 6.9166L12.1616 6.3291L7.74909 10.7374Z"
                        fill="white" stroke="white"></path>
                    </svg><a style="vertical-align: super;">Hỗ trợ trả góp 0%, trả trước 0đ</a>
                  </div>
                  <div class="info-item"><svg style="margin-right: 10px;" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z"
                        fill="#27AE60"></path>
                      <path
                        d="M7.74909 10.7374L6.01159 8.99993L5.41992 9.58743L7.74909 11.9166L12.7491 6.9166L12.1616 6.3291L7.74909 10.7374Z"
                        fill="white" stroke="white"></path>
                    </svg><a style="vertical-align: super;">Hoàn tiền 200% khi phát hiện hàng giả</a>
                  </div>
                  <div class="info-item"><svg style="margin-right: 10px;" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z"
                        fill="#27AE60"></path>
                      <path
                        d="M7.74909 10.7374L6.01159 8.99993L5.41992 9.58743L7.74909 11.9166L12.7491 6.9166L12.1616 6.3291L7.74909 10.7374Z"
                        fill="white" stroke="white"></path>
                    </svg><a style="vertical-align: super;">Giao hàng nhanh 3H nội thành Tây Ninh</a>
                  </div>
                  <div class="info-item"><svg style="margin-right: 10px;" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z"
                        fill="#27AE60"></path>
                      <path
                        d="M7.74909 10.7374L6.01159 8.99993L5.41992 9.58743L7.74909 11.9166L12.7491 6.9166L12.1616 6.3291L7.74909 10.7374Z"
                        fill="white" stroke="white"></path>
                    </svg> <a style="vertical-align: super;">Giao hàng từ 5 - 7 ngày toàn quốc</a>
                  </div>
                  <div class="info-item"><svg style="margin-right: 10px;" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z"
                        fill="#27AE60"></path>
                      <path
                        d="M7.74909 10.7374L6.01159 8.99993L5.41992 9.58743L7.74909 11.9166L12.7491 6.9166L12.1616 6.3291L7.74909 10.7374Z"
                        fill="white" stroke="white"></path>
                    </svg><a style="vertical-align: super;">Đội ngũ kĩ thuật hỗ trợ online 7/7</a> 
                  </div>
                </div>
                <div class="bank"><a href=""><img src="../../assets/images/tien-mat.jpg" alt=""></a> <a
                    href=""><img src="../../assets/images/internet-bank.jpg" alt=""></a> <a href=""><img
                      src="../../assets/images/master-card.png" alt=""></a> <a href=""><img
                      src="../../assets/images/visa.jpg" alt=""></a></div>
              </div>
            </div>
          </div>
           <!--<div class="compare block">
            <div class="sidebar-bar-title">
              <h3>Compare Products (2)</h3>
            </div>
            <div class="block-content">
              <ol id="compare-items">
                <li class="item"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a> <a href="#" class="product-name">Vestibulum porta tristique porttitor.</a> </li>
                <li class="item"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a> <a href="#" class="product-name">Lorem ipsum dolor sit amet</a> </li>
              </ol>
              <div class="ajax-checkout">
                <button type="submit" title="Submit" class="button button-compare"> <span> Compare</span></button>
                <button type="submit" title="Submit" class="button button-clear"> <span> Clear All</span></button>
              </div>
            </div>
          </div> -->
        </aside>
      </div>
    </div>
  </section>