@-webkit-keyframes mytitle {
	0% { color: #f4f80a; } 
	50% { color: #ffffff;  } 
	100% { color: #f4f80a;  } 
}
@-moz-keyframes mytitle { 
	0% { color: #f4f80a;    } 
	50% { color: #ffffff;  }
	100% { color: #f4f80a;    } 
}
@-o-keyframes mytitle { 
	0% { color: #f4f80a; } 
	50% { color: #ffffff; } 
	100% { color:#f4f80a;   } 
}
@keyframes mytitle { 
	0% { color: #f4f80a;   } 
	50% { color: #ffffff;}
	100% { color: #f4f80a;  } 
} 

@-webkit-keyframes my2 {
	0% { color: #f80a0a; } 
	50% { color: #197bb7;  } 
	100% { color: #f80a0a;  } 
}
@-moz-keyframes my2 { 
	0% { color: #f80a0a;   } 
	50% { color: #197bb7;  }
	100% { color: #f80a0a;   } 
}
@-o-keyframes my2 { 
	0% { color: #f80a0a; } 
	50% { color: #197bb7; } 
	100% { color:#f80a0a;  } 
}
@keyframes my2 { 
	0% { color: #f80a0a;  } 
	50% { color: #197bb7; }
	100% { color: #f80a0a;  } 
} 
.title {
	-webkit-animation: my2 700ms infinite;
	-moz-animation: my2 700ms infinite; 
	-o-animation: my2 700ms infinite; 
	animation: my2 700ms infinite;
}
.single-categories {
    z-index: 1;
    position: relative;
    margin-bottom: 25px;
    border: 1px solid #dddddd;
    padding: 20px 180px 20px 20px;
    transition: var(--transition);
}
.single-categories:before {
    top: 0;
    right: 0;
    width: 50%;
    content: "";
    z-index: -1;
    height: 100%;
    position: absolute;
    background-color: #fff3ef;
    transition: var(--transition);
    clip-path: polygon(100% 0,0% 100%,100% 100%);
}
.single-categories.bg1:before {
    background-color: #ebf9ea;
}
.single-categories.bg2:before {
    background-color: #d8c285;
}
.single-categories.bg3:before {
    background-color: #61859c;
}
.single-categories.bg4:before {
    background-color: #eff5ff;
}
.single-categories.bg5:before {
    background-color: #93bd90;
}
.single-categories.bg6:before {
    background-color: #fff3ef;
}
.single-categories img {
    top: -4px;
    right: 35px;
    max-width: 145px;
    position: absolute;
}
.sale-left, .new-right{
	-webkit-animation: mytitle 700ms infinite;
	-moz-animation: mytitle 700ms infinite; 
	-o-animation: mytitle 700ms infinite; 
	animation: mytitle 700ms infinite;
}
.newproduct{
	margin-top: 0px;
}


@media screen and (max-width: 1024px) {

}

.imagebanner1fix {
	left: 325.5px;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.imagebanner2fix {
    z-index: 9999;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
@media screen and (max-width: 1480px) {

	.imagebanner1fix, .imagebanner2fix{
		display: none;
	}
}