@-webkit-keyframes mytitle {
	0% { color: #f4f80a; } 
	50% { color: #ffffff;  } 
	100% { color: #f4f80a;  } 
}
@-moz-keyframes mytitle { 
	0% { color: #f4f80a;    } 
	50% { color: #ffffff;  }
	100% { color: #f4f80a;    } 
}
@-o-keyframes mytitle { 
	0% { color: #f4f80a; } 
	50% { color: #ffffff; } 
	100% { color:#f4f80a;   } 
}
@keyframes mytitle { 
	0% { color: #f4f80a;   } 
	50% { color: #ffffff;}
	100% { color: #f4f80a;  } 
} 

@-webkit-keyframes my2 {
	0% { color: #f80a0a; } 
	50% { color: #197bb7;  } 
	100% { color: #f80a0a;  } 
}
@-moz-keyframes my2 { 
	0% { color: #f80a0a;   } 
	50% { color: #197bb7;  }
	100% { color: #f80a0a;   } 
}
@-o-keyframes my2 { 
	0% { color: #f80a0a; } 
	50% { color: #197bb7; } 
	100% { color:#f80a0a;  } 
}
@keyframes my2 { 
	0% { color: #f80a0a;  } 
	50% { color: #197bb7; }
	100% { color: #f80a0a;  } 
} 
.title {
	-webkit-animation: my2 700ms infinite;
	-moz-animation: my2 700ms infinite; 
	-o-animation: my2 700ms infinite; 
	animation: my2 700ms infinite;
}
.single-categories {
    z-index: 1;
    position: relative;
    margin-bottom: 25px;
    border: 1px solid #dddddd;
    padding: 20px 180px 20px 20px;
    transition: var(--transition);
}
.single-categories:before {
    top: 0;
    right: 0;
    width: 50%;
    content: "";
    z-index: -1;
    height: 100%;
    position: absolute;
    background-color: #fff3ef;
    transition: var(--transition);
    clip-path: polygon(100% 0,0% 100%,100% 100%);
}
.single-categories.bg1:before {
    background-color: #ebf9ea;
}
.single-categories.bg2:before {
    background-color: #d8c285;
}
.single-categories.bg3:before {
    background-color: #61859c;
}
.single-categories.bg4:before {
    background-color: #eff5ff;
}
.single-categories.bg5:before {
    background-color: #93bd90;
}
.single-categories.bg6:before {
    background-color: #fff3ef;
}
.single-categories img {
    top: -4px;
    right: 35px;
    max-width: 145px;
    position: absolute;
}
.sale-left, .new-right{
	-webkit-animation: mytitle 700ms infinite;
	-moz-animation: mytitle 700ms infinite; 
	-o-animation: mytitle 700ms infinite; 
	animation: mytitle 700ms infinite;
}
.newproduct{
	margin-top: 0px;
}


@media screen and (max-width: 1024px) {


}


.slick-prev{
	margin-left: 26px;
}
	
.slick-next{
	margin-right: 26px;
}

.slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 25px;
    width: 25px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: #eaebed;;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
	opacity: .8;
	height: 40px;
    width: 40px;
    top: calc(50% - 10px);
	z-index: 999;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    outline: none;
    background:  #99a0ad;;
    color: transparent;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	
}