<app-slider></app-slider>
<!-- service section -->
<ng-container *ngIf="isLoadComplete">
  <div class="jtv-service-area">
    <div class="container">
      <div class="row">
        <div class="col col-md-3 col-sm-6 col-xs-12">
          <div>
          </div>
        </div>
        <div class="col col-md-3 col-sm-6 col-xs-12 ">
          <div>
          </div>
        </div>
        <div class="col col-md-3 col-sm-6 col-xs-12">
          <div>
          </div>
        </div>
        <div class="col col-md-3 col-sm-6 col-xs-12">
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inner-box">
    <div class="container">
      <div class="row">
        <!-- Banner -->
        <div class="col-md-3 top-banner hidden-sm">
          <div class="jtv-banner3">
            <div class="jtv-banner3-inner">
              <a href="#"><img [src]="pathBanner" alt="HTML template"></a>
              <div class="hover_content">
                <div class="hover_data">
                  <div class="title"> Ưu đãi to </div>
                  <div class="desc-text">Up to 55% off</div>
                  <span>Màn hình, Laptop</span>
                  <p><a href="#" class="shop-now">Mua ngay !</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Best Sale -->
        <div class="col-sm-12 col-md-9 jtv-best-sale special-pro">
          <div class="jtv-best-sale-list">
            <div class="wpb_wrapper">
              <div class="best-title text-left">
                <h2>ƯU ĐÃI ĐẶC BIỆT</h2>
              </div>
            </div>
            <div class="slider-items-products">
              <div id="jtv-best-sale-slider" class="product-flexslider">
                <owl-carousel-o [options]="customOptions">
                  <ng-container *ngFor="let item of listProductSales?.data">
                    <ng-template carouselSlide [id]="item.id.toString()">
                      <div class="product-item">
                        <div class="item-inner">
                          <div class="product-thumbnail">
                            <ng-container *ngIf="item.rateDiscount > 0">
                              <div class="icon-sale-label sale-left">{{- item.rateDiscount + "%"}}</div>
                            </ng-container>
                            <ng-container *ngIf="item.isHot > 0">
                              <div class="icon-new-label new-right">New</div>
                            </ng-container>


                            <div class="pr-img-area"> <a title="{{item.productName}}" [routerLink]="['/chi-tiet']"
                                (click)="handleViewDetailProduct($event,item)">
                                <figure> <img class="first-img" [src]="urlImg + item.imageUrl"
                                    alt="{{item.productName}}"> <img class="hover-img" [src]="urlImg + item.imageUrl"
                                    alt="{{item.productName}}"></figure>
                              </a> </div>
                            <div class="pr-info-area">
                              <div class="pr-button">
                                <div class="mt-button add_to_wishlist"> <a [routerLink]="['/danh-sach-yeu-thich']"> <i
                                      class="fa fa-heart-o"></i> </a> </div>
                                <div class="mt-button add_to_compare"> <a routerLink="/so-sanh"> <i
                                      class="fa fa-link"></i> </a> </div>
                                <div class="mt-button quick-view"> <a (click)="openModalQuickView()"> <i
                                      class="fa fa-search"></i> </a> </div>
                              </div>
                            </div>
                          </div>
                          <div class="item-info">
                            <div class="info-inner">
                              <div class="item-title"> <a title="{{item.productName}}" [routerLink]="['/chi-tiet']"
                                  (click)="handleViewDetailProduct($event,item)">{{item.productName}}</a> </div>
                              <div class="item-content">
                                <div class="rating">
                                  <!-- Tạo sao đánh giá -->
                                  <ng-container *ngIf="item.rate >= 0">
                                    <i class="fa fa-star" *ngFor="let rate of counterRate(item.rate)"></i>
                                    <i class="fa fa-star-o" *ngFor="let rate of counterRate(5 - item.rate)"></i>
                                  </ng-container>
                                   <!-- <i class="fa fa-star"></i> <i class="fa fa-star"></i>  -->
                                  <!-- <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> -->
                                </div>
                                <div class="item-price">
                                  <div class="price-box"> <span *ngIf="item.promotionPrice == 0" class="regular-price">
                                      <span class="price">{{item.price | currency: "VND" }}</span> </span>
                                    <ng-container *ngIf="item.promotionPrice > 0">
                                      <p class="special-price"> <span class="price-label">Giá khuyến mãi</span> <span
                                          class="price"> {{item.promotionPrice | currency: "VND" }} </span> </p>
                                      <p class="old-price"> <span class="price-label">Giá cũ:</span> <span
                                          class="price"> {{item.price | currency: "VND" }} </span> </p>
                                    </ng-container>
                                  </div>
                                </div>
                                <div class="pro-action">
                                  <button type="button" (click)="addToShopingCard(item)" class="add-to-cart"><i class="fa fa-shopping-cart"></i>&nbsp;<span>Giỏ hàng</span> </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- All products-->
  <div class="container">
    <div class="home-tab">
      <div class="tab-title text-left">
        <h2>SẢN PHẨM BÁN CHẠY</h2>
        <!-- <ul class="nav home-nav-tabs home-product-tabs">
          <li class="active"><a href="#computer" data-toggle="tab" aria-expanded="false">Computer</a></li>
          <li><a href="#smartphone" data-toggle="tab" aria-expanded="false">Smartphone</a></li>
          <li><a href="#watches" data-toggle="tab" aria-expanded="false">Watches</a></li>
          <li><a href="#photo" data-toggle="tab" aria-expanded="false">Photo & Camera</a></li>
        </ul> -->
      </div>
      <div id="productTabContent" class="tab-content">
        <div class="tab-pane active in" id="computer">
          <div class="featured-pro">
            <div class="slider-items-products">
              <div id="computer-slider" class="product-flexslider hidden-buttons">
                <owl-carousel-o [options]="customBestSaleProduct">
                  <ng-container *ngFor="let item of listProductBestSelling?.data">
                    <ng-template carouselSlide [id]="item.id.toString()">
                      <div class="product-item">
                        <div class="item-inner">
                          <div class="product-thumbnail">
                            <div class="icon-new-label new-left">New</div>
                            <div class="pr-img-area"> <a title="{{item.productName}}" [routerLink]="['/chi-tiet']"
                                (click)="handleViewDetailProduct($event,item)">
                                <figure> <img class="first-img" img class="first-img" [src]="urlImg + item.imageUrl"
                                    alt="{{item.productName}}"> <img class="hover-img" [src]="urlImg + item.imageUrl"
                                    alt="{{item.productName}}"></figure>
                              </a> </div>
                            <div class="pr-info-area">
                              <div class="pr-button">
                                <div class="mt-button add_to_wishlist"> <a [routerLink]="['/danh-sach-yeu-thich']"> <i
                                      class="fa fa-heart-o"></i> </a> </div>
                                <div class="mt-button add_to_compare"> <a routerLink="/so-sanh"> <i
                                      class="fa fa-link"></i> </a> </div>
                                <div class="mt-button quick-view"> <a routerLink="/xem-nhanh"> <i
                                      class="fa fa-search"></i> </a> </div>
                              </div>
                            </div>
                          </div>
                          <div class="item-info">
                            <div class="info-inner">
                              <div class="item-title"> <a title="{{item.productName}}" [routerLink]="['/chi-tiet']"
                                  (click)="handleViewDetailProduct($event,item)">{{item.productName}}</a></div>
                              <div class="item-content">
                                <div class="rating">
                                     <!-- Tạo sao đánh giá -->
                                  <ng-container *ngIf="item.rate >= 0">
                                    <i class="fa fa-star" *ngFor="let rate of counterRate(item.rate)"></i>
                                    <i class="fa fa-star-o" *ngFor="let rate of counterRate(5 - item.rate)"></i>
                                  </ng-container>
                                </div>
                                <div class="item-price">
                                  <div class="price-box"> <span *ngIf="item.promotionPrice == 0" class="regular-price">
                                      <span class="price">{{item.price | currency: "VND" }}</span> </span>
                                    <ng-container *ngIf="item.promotionPrice > 0">
                                      <p class="special-price"> <span class="price-label">Giá khuyến mãi</span> <span
                                          class="price"> {{item.promotionPrice | currency: "VND" }} </span> </p>
                                      <p class="old-price"> <span class="price-label">Giá cũ:</span> <span
                                          class="price"> {{item.price | currency: "VND" }} </span> </p>
                                    </ng-container>
                                  </div>
                                </div>
                                <div class="pro-action">
                                  <button type="button" class="add-to-cart"><span><i class="fa fa-shopping-cart"></i>&nbsp;Giỏ hàng</span> </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>       
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a [routerLink]="['/danh-muc-san-pham-g']" [queryParams]="{typeStatus: 2}" class="but_medium2"><i class="fa fa-shopping-cart"></i>&nbsp; XEM THÊM</a>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="container">
    <div class="home-tab">
      <div class="tab-title text-left">
        <h2>SẢN PHẨM MỚI</h2>
        <!-- <ul class="nav home-nav-tabs home-product-tabs">
          <li class="active"><a href="#computer" data-toggle="tab" aria-expanded="false">Computer</a></li>
          <li><a href="#smartphone" data-toggle="tab" aria-expanded="false">Smartphone</a></li>
          <li><a href="#watches" data-toggle="tab" aria-expanded="false">Watches</a></li>
          <li><a href="#photo" data-toggle="tab" aria-expanded="false">Photo & Camera</a></li>
        </ul> -->
      </div>
      <div id="productTabContent" class="tab-content">
        <div class="tab-pane active in" id="computer">
          <div class="featured-pro">
            <div class="slider-items-products">
              <div id="computer-slider" class="product-flexslider hidden-buttons">
                <owl-carousel-o [options]="customNewProduct">
                  <ng-container *ngFor="let item of listProductIsNew?.data">
                    <ng-template carouselSlide [id]="item.id.toString()">
                      <div class="product-item">
                        <div class="item-inner">
                          <div class="product-thumbnail">
                            <div class="icon-new-label new-left">New</div>
                            <div class="pr-img-area"> <a title="{{item.productName}}" [routerLink]="['/chi-tiet']"
                                (click)="handleViewDetailProduct($event,item)">
                                <figure> <img class="first-img" img class="first-img" [src]="urlImg + item.imageUrl"
                                    alt="{{item.productName}}"> <img class="hover-img" [src]="urlImg + item.imageUrl"
                                    alt="{{item.productName}}"></figure>
                              </a> </div>
                            <div class="pr-info-area">
                              <div class="pr-button">
                                <div class="mt-button add_to_wishlist"> <a [routerLink]="['/danh-sach-yeu-thich']"> <i
                                      class="fa fa-heart-o"></i> </a> </div>
                                <div class="mt-button add_to_compare"> <a routerLink="/so-sanh"> <i
                                      class="fa fa-link"></i> </a> </div>
                                <div class="mt-button quick-view"> <a routerLink="/xem-nhanh"> <i
                                      class="fa fa-search"></i> </a> </div>
                              </div>
                            </div>
                          </div>
                          <div class="item-info">
                            <div class="info-inner">
                              <div class="item-title"> <a title="{{item.productName}}" [routerLink]="['/chi-tiet']"
                                  (click)="handleViewDetailProduct($event,item)">{{item.productName}}</a></div>
                              <div class="item-content">
                                <div class="rating"> 
                                    <!-- Tạo sao đánh giá -->
                                  <ng-container *ngIf="item.rate >= 0">
                                    <i class="fa fa-star" *ngFor="let rate of counterRate(item.rate)"></i>
                                    <i class="fa fa-star-o" *ngFor="let rate of counterRate(5 - item.rate)"></i>
                                  </ng-container>
                                </div>
                                <div class="item-price">
                                  <div class="price-box"> <span *ngIf="item.promotionPrice == 0" class="regular-price">
                                      <span class="price">{{item.price | currency: "VND" }}</span> </span>
                                    <ng-container *ngIf="item.promotionPrice > 0">
                                      <p class="special-price"> <span class="price-label">Giá khuyến mãi</span> <span
                                          class="price"> {{item.promotionPrice | currency: "VND" }} </span> </p>
                                      <p class="old-price"> <span class="price-label">Giá cũ:</span> <span
                                          class="price"> {{item.price | currency: "VND" }} </span> </p>
                                    </ng-container>
                                  </div>
                                </div>
                                <div class="pro-action">
                                  <button type="button" class="add-to-cart"><span><i class="fa fa-shopping-cart"></i>&nbsp;Giỏ hàng</span> </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a [routerLink]="['/danh-muc-san-pham-g']" [queryParams]="{typeStatus: 3}" class="but_medium2"><i class="fa fa-shopping-cart"></i>&nbsp; XEM THÊM</a>
      </div>
    </div>
  </div>
  <br>
  <br>

  <!-- <div class="banner-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <figure> <a href="#" target="_self" class="image-wrapper"><img src="./../assets/images/banner-laptop.jpg" alt="banner laptop"></a></figure>
        </div>
        <div class="col-sm-6">
          <figure> <a href="#" target="_self" class="image-wrapper"><img src="./../assets/images/banner-mob.jpg" alt="banner moblie"></a></figure>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="home-tab">
      <div class="tab-title text-left">
        <h2>SẢN PHẨM NỔI BẬT</h2>
      </div>
      <div id="productTabContent" class="tab-content">
        <div class="tab-pane active in" id="computer">
          <div class="featured-pro">
            <div class="slider-items-products">
              <div id="computer-slider" class="product-flexslider hidden-buttons">
                <owl-carousel-o [options]="customHotProduct">
                  <ng-container *ngFor="let item of listProductIsHot?.data">
                    <ng-template carouselSlide [id]="item.id.toString()">
                      <div class="product-item">
                        <div class="item-inner">
                          <div class="product-thumbnail">
                            <div class="icon-hot-label hot-left">Hot</div>
                            <div class="pr-img-area"> <a title="{{item.productName}}" [routerLink]="['/chi-tiet']"
                                (click)="handleViewDetailProduct($event,item)">
                                <figure> <img class="first-img" img class="first-img" [src]="urlImg + item.imageUrl"
                                    alt="{{item.productName}}"> <img class="hover-img" [src]="urlImg + item.imageUrl"
                                    alt="{{item.productName}}"></figure>
                              </a> </div>
                            <div class="pr-info-area">
                              <div class="pr-button">
                                <div class="mt-button add_to_wishlist"> <a [routerLink]="['/danh-sach-yeu-thich']"> <i
                                      class="fa fa-heart-o"></i> </a> </div>
                                <div class="mt-button add_to_compare"> <a routerLink="/so-sanh"> <i
                                      class="fa fa-link"></i> </a> </div>
                                <div class="mt-button quick-view"> <a routerLink="/xem-nhanh"> <i
                                      class="fa fa-search"></i> </a> </div>
                              </div>
                            </div>
                          </div>
                          <div class="item-info">
                            <div class="info-inner">
                              <div class="item-title"> <a title="{{item.productName}}" [routerLink]="['/chi-tiet']"
                                  (click)="handleViewDetailProduct($event,item)">{{item.productName}}</a></div>
                              <div class="item-content">
                                <div class="rating"> 
                                   <!-- Tạo sao đánh giá -->
                                  <ng-container *ngIf="item.rate >= 0">
                                    <i class="fa fa-star" *ngFor="let rate of counterRate(item.rate)"></i>
                                    <i class="fa fa-star-o" *ngFor="let rate of counterRate(5 - item.rate)"></i>
                                  </ng-container>
                                </div>
                                <div class="item-price">
                                  <div class="price-box"> <span *ngIf="item.promotionPrice == 0" class="regular-price">
                                      <span class="price">{{item.price | currency: "VND" }}</span> </span>
                                    <ng-container *ngIf="item.promotionPrice > 0">
                                      <p class="special-price"> <span class="price-label">Giá khuyến mãi</span> <span
                                          class="price"> {{item.promotionPrice | currency: "VND" }} </span> </p>
                                      <p class="old-price"> <span class="price-label">Giá cũ:</span> <span
                                          class="price"> {{item.price | currency: "VND" }} </span> </p>
                                    </ng-container>
                                  </div>
                                </div>
                                <div class="pro-action">
                                  <button type="button" class="add-to-cart"><span><i class="fa fa-shopping-cart"></i>&nbsp;Giỏ hàng</span> </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <a [routerLink]="['/danh-muc-san-pham-g']" [queryParams]="{typeStatus: 4}" class="but_medium2"><i class="fa fa-shopping-cart"></i>&nbsp; XEM THÊM</a>
      </div>
    </div>
  </div>
  <br>

  <div class="container">
    <div class="home-tab">
    <div class="tab-title text-left">
      <h2>THƯƠNG HIỆU</h2>
    </div>
   </div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="our-clients">
          <div class="slider-items-products">
            <div id="our-clients-slider" class="product-flexslider hidden-buttons">
              <div class="slider-items slider-width-col6">
                <owl-carousel-o [options]="customBrand">
                  <ng-container *ngFor="let item of listTrademark">
                    <ng-template carouselSlide [id]="item.id.toString()">
                      <div class="item"><a href="#"><img [src]="urlImg + item.imageUrl" alt="Image"></a> </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- BANNER-AREA-START -->
  <section class="banner-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
              <div class="banner-block"> <a href="#"> <img src="./../assets/images/banner-sunglasses.jpg"
                    alt="banner sunglasses"> </a>
                <div class="text-des-container">
                  <div class="text-des">
                    <h2>Galaxy Note 5</h2>
                    <p>Fall Phone 25% off Colorful designs!</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6 col-md-6">
              <div class="banner-block"> <a href="#"> <img src="./../assets/images/banner-kids.jpg" alt="banner kids">
                </a>
                <div class="text-des-container">
                  <div class="text-des">
                    <h2>Music & Sound</h2>
                    <p>For the littlest people</p>
                  </div>
                </div>
              </div>
              <div class="banner-block"> <a href="#"> <img src="./../assets/images/banner-women.jpg" alt="banner women">
                </a>
                <div class="text-des-container">
                  <div class="text-des">
                    <h2>Best Quality Music</h2>
                    <p>Modern Headphones designs shop!</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-4 col-md-4">
          <div class="banner-block"> <a href="#"> <img src="./../assets/images/banner-arrival.jpg" alt="banner arrival">
            </a>
            <div class="text-des-container">
              <div class="text-des">
                <h2>special collection</h2>
                <p>Sale upto 50% off on selected items</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<app-quick-view (sendEventToParent)="listenEventFromChild($event)" *ngIf="isShowQuickView"></app-quick-view>
<ngx-spinner [fullScreen]="true" type="ball-scale-multiple" bdColor="rgba(220, 237, 255, 0.8)"
  color="#0b499c"></ngx-spinner>