<app-slider></app-slider>
<!-- service section -->
<ng-container *ngIf="isLoadComplete">


  <div class="container">
    <div class="row">
      <div class="block__header" style="margin-top: 45px;">
        <h2 class="block__header__title">ƯU ĐÃI ĐẶC BIỆT</h2>
      </div>
      <!-- Banner -->
      <div class="col-md-4 top-banner hidden-sm" *ngIf="headerBanner">
        <div class="jtv-banner3">
          <div class="jtv-banner3-inner" style="text-align: center;">
            <a href="{{checkBannerkUrl(headerBanner.urlTarget)}}"><img
                [src]="(headerBanner) && (urlImg + headerBanner.pathImage)" alt="HTML template"
                style="max-height: 370px;height: 396px;"></a>
            <div class="hover_content">
            </div>
          </div>
        </div>
      </div>
      <!-- Best Sale -->
      <div class="col-sm-12 col-md-8">
        <div>
          <div class="home__product">
            <div *ngIf="this.listProductSales">
              <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigProductSales">
                <div ngxSlickItem *ngFor="let item of listProductSales.data" class="slide">
                  <div class="product">
                    <div class="percent" *ngIf="item.rateDiscount > 0"><span>-{{item.rateDiscount}}%</span></div>
                    <div class="product__thumb"><a [routerLink]="['/chi-tiet']"
                        (click)="handleViewDetailProduct($event,item)" class="product__link"><img
                          [src]='urlImg + item.imageUrl' alt="{{item.productName}}"></a>
                      <div class="pr-button-info-area">
                        <div class="add-to-wish" style="margin-bottom: 14px;" (click)="addToFavorite(item)"> <a> <i
                              class="fa fa-heart-o"></i> </a> </div>
                        <div class="view-quick-view" style="cursor: pointer;" (click)="openModalQuickView(item)"> <a> <i
                              class="fa fa-search"></i> </a>
                        </div>
                      </div>
                    </div>

                    <div class="product__bottom">
                      <div class="product__title"><a [routerLink]="['/chi-tiet']"
                          (click)="handleViewDetailProduct($event,item)" class="product__link">{{item.productName}}</a>
                      </div>
                      <div class="product__rate">
                        <div class="rate__star" *ngIf="item?.rate >= 0">
                          <div class="rate_item">
                            <i class="fa fa-star yellow" *ngFor="let rate of counterRate(item?.rate)"></i>
                            <i class="fa fa-star-o" *ngFor="let rate of counterRate(5 - item?.rate)"></i>
                            <span class="rate__text"> &nbsp;{{item?.countRate}} đánh giá</span>
                          </div>
                        </div>
                      </div>
                      <div class="product__price"><span class="price__selling">{{item.promotionPrice | currency: "VND"
                          }}</span>
                        <span class="price__old">{{item.price | currency: "VND" }}</span>
                      </div> <button type="button" (click)="addToShopingCard(item)" class="add-to-cart"><i
                          class="fa fa-shopping-cart"></i> &nbsp;GIỎ
                        HÀNG</button>
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="centerBanner">
    <div class="home-tab-banner">
    <a href="{{checkBannerkUrl(centerBanner.urlTarget)}}"><img
      [src]="(centerBanner) && (urlImg + centerBanner.pathImage)" alt="Banner right"></a>
    </div>
  </div>


  <!-- All products-->
  <div class="container">
    <div class="home-tab">
      <div class="block__header">
        <h2 class="block__header__title">SẢN PHẨM BÁN CHẠY</h2>
      </div>
      <div *ngIf="this.listProductBestSelling">
        <app-product-recent [listProduct]="this.listProductBestSelling?.data" [isAutoPlay]="false"></app-product-recent>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row home-tab">
      <div class="col-md-12 text-center">
        <a [routerLink]="['/danh-muc-san-pham-g']" [queryParams]="{typeStatus: 2}" class="but_medium2"><i
            class="fa fa-shopping-cart"></i>&nbsp; XEM THÊM</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="home-tab">
      <div class="block__header">
        <h2 class="block__header__title">SẢN PHẨM MỚI</h2>
      </div>
    </div>
    <div>

      <div *ngIf="this.listProductIsNew">
        <app-product-recent [listProduct]="this.listProductIsNew.data" [isAutoPlay]="false"></app-product-recent>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row home-tab">
      <div class="col-md-12 text-center">
        <a [routerLink]="['/danh-muc-san-pham-g']" [queryParams]="{typeStatus: 3}" class="but_medium2"><i
            class="fa fa-shopping-cart"></i>&nbsp; XEM THÊM</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="home-tab">
      <div class="block__header">
        <h2 class="block__header__title">SẢN PHẨM NỔI BẬT</h2>
      </div>
    </div>
    <div class="">
      <div *ngIf="this.listProductIsHot">
        <app-product-recent [listProduct]="this.listProductIsHot?.data" [isAutoPlay]="false"></app-product-recent>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="row home-tab">
      <div class="col-md-12 text-center">
        <a [routerLink]="['/danh-muc-san-pham-g']" [queryParams]="{typeStatus: 4}" class="but_medium2"><i
            class="fa fa-shopping-cart"></i>&nbsp; XEM THÊM</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="block__header home-tab">
      <h2 class="block__header__title">DANH MỤC SẢN PHẨM</h2>
    </div>
    <div class="row" *ngIf="this.allMenu && this.allMenu != '' ">
      <ng-container *ngFor="let item of allMenu; let i= index; ">
        <div class="col-lg-4 col-sm-6" *ngIf="i < 6">
          <div class="">
            <div style="height: 144px;" ngClass="{{'single-categories '+ 'bg'+ i}}">
              <a [routerLink]="['/danh-muc-san-pham-g']" (click)="handleMenu($event,item)">
                <img *ngIf="(item.imageUrl)" [src]="urlImg + item.imageUrl" alt="{{item.categoryName}}">
                </a>
              <h4><a [routerLink]="['/danh-muc-san-pham-g']" (click)="handleMenu($event,item)">{{item.categoryName}}</a>
              </h4>
              <a [routerLink]="['/danh-muc-san-pham-g']" (click)="handleMenu($event,item)" class="read-more">Xem
                ngay</a>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="container">
    <div class="home-tab">
      <div class="block__header">
        <h2 class="block__header__title">THƯƠNG HIỆU</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="our-clients">
          <div class="slider-items-products">
            <div id="our-clients-slider" class="product-flexslider hidden-buttons">
              <div class="slider-items slider-width-col6">
                <owl-carousel-o [options]="customBrand">
                  <ng-container *ngFor="let item of listTrademark">
                    <ng-template carouselSlide [id]="item.id.toString()">
                      <div class="item"><a href="{{checkTrademarkUrl(item.url)}}"><img [src]="urlImg + item.imageUrl"
                            alt="Image"></a> </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 
  <div class="container">
    <div class="home-tab">
    <div class="block__header">
      <h2 class="block__header__title">SẢN PHẨM VỪA XEM</h2>
    </div>
   </div>
   <div id="productTabContent">
    <div class="tab-pane active in" id="computer">
      <div class="featured-pro">
        <div class="slider-items-products">
          <div  class="product-flexslider hidden-buttons">
            <app-product-recent></app-product-recent>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div> -->
</ng-container>
<app-quick-view (sendEventToParent)="listenEventFromChild($event)" *ngIf="isShowQuickView"
  productSlug="{{this.productSlugToChild}}"></app-quick-view>
<ngx-spinner [fullScreen]="true" type="ball-scale-multiple" bdColor="rgba(220, 237, 255, 0.8)"
  color="#0b499c"></ngx-spinner>